@import "normalize";

$neutral0: #1A202C;
$neutal02: #4A5568;
$neutral04: #A0AEC0;
$neutral06: #E2E8F0;
$neutral08: #F7FAFC;
$neutal10: #fff;

$white: $neutral08;
$black: $neutral0;

$breakpoint-sm: 36rem;
$breakpoint-md: 48rem;
$breakpoint-lg: 64rem;

body {
  font-size: 16px;
  line-height: 1.5;
  font-size: 1.25rem;
  @media (prefers-color-scheme: light) {
    color: $black;
    background-color: $white;
  }
  @media (prefers-color-scheme: dark) {
    color: $white;
    background-color: $black;
  }
}

main {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  grid-column-gap: 1.5rem;
  grid-auto-flow: column;

  max-width: 54rem;

  margin: 4rem auto 0;
  @media screen and (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr)
  }
}

.section-about {
  grid-column: span 3;
  @media screen and (min-width: $breakpoint-md) {
    grid-column: span 1;
  }
}

.section-primary {
  grid-column: span 3;
  @media screen and (min-width: $breakpoint-md) {
    grid-column: 2 / span 2;
  }
}