---
---
<!DOCTYPE html>
<html>
<head>
  <!--

   ___      ___ ________  ___       __
  |\  \    /  /|\   ___ \|\  \     |\  \
  \ \  \  /  / | \  \_|\ \ \  \    \ \  \
   \ \  \/  / / \ \  \ .\ \ \  \  __\ \  \
    \ \    / /   \ \  \_.\ \ \  \|\__\_\  \
     \ \__/ /     \ \_______\ \____________\
      \|__|/       \|_______|\|____________|

  Please support Vancouver Design Week!
  If you like this site, say hello@denimandsteel.com

  -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vancouver Design Week</title>
  <meta name="description" content="Connect. Explore. Engage. Impact.">
  <link rel="stylesheet" href="css/main.css">
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <meta property="og:title" content="Vancouver Design Week">
  <meta property="og:description" content="Vancouver Design Week (VDW) is the city’s official interdisciplinary design festival — at once a city-wide platform, invitation and call to action! VDW is a unique opportunity to: celebrate local design talent; connect design makers and users; and to support design’s capacity for improving the quality of our everyday lives.">
  <meta property="og:image" content="/images/vdw-og-logo.png">

</head>
<body>

  {% include navigation.html %}

  <main class="vdw-bg-wrapper" role="main">

    <section id="hero" class="c-l-container u-pb u-pr--xs u-pl--xs">
      <div class="push-two lg-push-four columns two-thirds column">
        <img class="u-pt--l vdw-knd-logo" src="{{ 'images/VDW-knd-logo-white.svg' | prepend: site.baseurl }}" alt="">
        <h1 class="bravo">Vancouver <br>Design Week(end)<br>May 12-14, 2017</h1>
        <h5 class="ff-secondary"><a style="text-decoration: underline;" href="http://eepurl.com/cEOnSv">Read the update</a></h5>
        <h5 class="ff-secondary">Get on the list &ndash; more coming soon.</h5>
        <form action="http://denimandsteel.us5.list-manage.com/subscribe/post?u=4da6b7547530080bdd96d1002&amp;id=de7fead209" method="post" target="_blank" rel="noopener" novalidate accept-charset="utf-8">
          <input class="vdw-email-input ff-secondary" type="email" value="" name="EMAIL" tabindex="1" placeholder="YourLovelyEmail@example.com">
          <input type="submit" value="Subscribe" name="subscribe" class="e-btn-primary vdw-email-button ff-secondary">
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_4da6b7547530080bdd96d1002_de7fead209" tabindex="-1" value=""></div>
        </form>
      </div>
      <div class="c-l-row twelve columns">
        <a id="anchorjump" class="keep-scrolling-arrow fadeIn u-mt" href="#successes"><img src="2017-images/keep-scrolling.svg" alt=""></a>
      </div>
    </section>

    <section id="successes" class="c-l-fw-container vdw-section2 u-pt--l u-pb">
      <div class="c-l-container u-db twelve md-eight md-push-two lg-six lg-push-six columns c-callout ff-secondary vdw-callout u-pt">
        <div class="c-l-row">
          <h3 class="f-tt-uc f-ta-c"><span class="f-wt">The Successes </span><br>of 2014</h3>
        </div>
        <div class="c-l-row u-flexbox">
          <div class="c-callout-col1">
            <ul>
              <li class="f-wb">1</li>
              <li class="f-wb">14</li>
              <li class="f-wb">15+</li>
              <li class="f-wb">94</li>
              <li class="f-wb">22</li>
              <li class="f-wb">25000</li>
              <li class="f-wb">26</li>
              <li class="f-wb">10</li>
            </ul>
          </div>
          <div class="c-callout-col2">
            <ul>
              <li class="f-tt-uc">Mayoral Proclamation</li>
              <li class="f-tt-uc">Days</li>
              <li class="f-tt-uc">Disciplines</li>
              <li class="f-tt-uc">Happenings</li>
              <li class="f-tt-uc">Sold Out Events</li>
              <li class="f-tt-uc">Attendees</li>
              <li class="f-tt-uc">Open Studios</li>
              <li class="f-tt-uc">Open Buildings</li>
            </ul>
          </div>
        </div>
        <div class="c-callout-link u-pt--s u-pb--s f-ta-c u-pr--xs u-pl--xs">
          <p>With the help of <span class="f-wb">43</span> supporting partners.
          <p><a class="u-callout-link" href="/2014/">Visit the 2014 Site.</a></p>
        </div>
      </div>
    </section>  
    
    {% include get-involved.html %}

    {% include faq.html %}

    {% include sponsors.html %}
    
    {% include team.html %}



{% comment %}
    {% include event-schedule.html %}
{% endcomment %}



<!--     <section id="about" class="c-l-fw-container u-bg-blue">
      <div class="c-l-container u-pt u-pb">
        <div class="c-l-row eight push-two lg-push-four columns u-pr--xs u-pl--xs">
          <h1 class="f-tt-uc bravo"><span class="f-wt">Design for </span>Impact</h1>
        </div>
        <div class="c-l-row twelve lg-eight lg-push-four columns u-pr--xs u-pl--xs">
          <div class="one-half column">
            <h3 class="f-tt-uc u-mt ff-secondary golf">What are we talking about?</h3>
            <p>Vancouver Design Week is a city-wide platform, invitation and call to action. A chance to spotlight design innovation, to connect designers across disciplines, and to to celebrate and empower the design talent shaping our future.</p>
            <p>Vancouver Design Week&rsquo;s first event was in 2014, and we&rsquo;ll return with a focus around a new theme: IMPACT.
          </div>
          <div class="one-half column">
            <h3 class="f-tt-uc u-mt ff-secondary golf">Impact.</h3>
            <p>How are designers impacting our city and our world? What positive change are they creating in our communities? Why is design critical to solving social and environmental problems?</p>
            <p class="f-wb">Connect. Explore. Engage.</p>
          </div>
        </div>
      </div>
    </section> -->

         


    <section id="newsletter" class="c-l-container u-pr--xs u-pl--xs">
      <div class="c-l-row u-pb u-db twelve lg-eight lg-push-four columns">
        <h5 class="ff-secondary">Get on the list</h5>
        <form action="http://denimandsteel.us5.list-manage.com/subscribe/post?u=4da6b7547530080bdd96d1002&amp;id=de7fead209" method="post" target="_blank" rel="noopener" novalidate accept-charset="utf-8">
          <input class="vdw-email-input u-ac ff-secondary" type="email" value="" name="EMAIL" tabindex="2" placeholder="YourLovelyEmail@example.com">
          <input type="submit" value="Subscribe" name="subscribe" class="e-btn-primary vdw-email-button u-ac ff-secondary">
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_4da6b7547530080bdd96d1002_de7fead209" tabindex="-1" value=""></div>
        </form>
      </div>

    </section>



    <footer id="contact" class="c-l-container u-pr--xs u-pl--xs">
      <div class="eight push-two lg-push-four columns u-mb">
        <div class="one-half column">
          <h3 class="f-tt-uc ff-secondary golf">Contact</h3>
          <p>General inqueries: <a class="u-email-link" href="mailto: info@vancouverdesignwk.com">info@vancouverdesignwk.com</a></p>
        </div>
        <div class="one-half column">
          <h3 class="f-tt-uc ff-secondary golf">Social Media</h3>
          <a class="u-social-link" href="https://www.instagram.com/vandesignwk/"><div class="u-social-icon u--instagram"></div></a>
          <a class="u-social-link" href="https://twitter.com/vandesignwk"><div class="u-social-icon u--twitter"></div></a>
        </div>
      </div>
    </footer>


  </main>

  <script>
    $(function() {
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  </script>
  <script type="text/javascript" src="/javascript/third-party.js"></script>
  <script type="text/javascript" src="/javascript/app-2017.js"></script>
</body>
</html>
