---
---
<!DOCTYPE html>
<html>
<head>
  <!--

   ___      ___ ________  ___       __
  |\  \    /  /|\   ___ \|\  \     |\  \
  \ \  \  /  / | \  \_|\ \ \  \    \ \  \
   \ \  \/  / / \ \  \ .\ \ \  \  __\ \  \
    \ \    / /   \ \  \_.\ \ \  \|\__\_\  \
     \ \__/ /     \ \_______\ \____________\
      \|__|/       \|_______|\|____________|

  Please support Vancouver Design Week!
  If you like this site, say hello@denimandsteel.com

  -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vancouver Design Week</title>
  <meta name="description" content="Connect. Explore. Engage. Impact.">
  <link rel="stylesheet" href="css/main-2018.css?20180626">
  <meta property="og:url" content="http://vancouverdesignwk.com/">
  <meta property="og:title" content="Vancouver Design Week">
  <meta property="og:description" content="Vancouver Design Week (VDW) is the city’s official interdisciplinary design festival — at once a city-wide platform, invitation and call to action! VDW is a unique opportunity to: celebrate local design talent; connect design makers and users; and to support design’s capacity for improving the quality of our everyday lives.">
  <meta property="og:image" content="http://vancouverdesignwk.com/images/vdw-og-logo-2018.png">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-26480550-10', 'auto');
  ga('send', 'pageview');
  </script>
</head>
<body class="support-hover">

  {% include navigation.html %}

  <main class="vdw-bg-wrapper" role="main">

    <section id="hero" class="c-l-container u-pb u-pr--xs u-pl--xs">
      <div class="push-two lg-push-four columns two-thirds column">
        <img class="u-pt--l vdw-knd-logo" src="{{ 'images/VDW-logo-white.svg' | prepend: site.baseurl }}" alt="">
        <h1 class="charlie">Vancouver <br>Design Week</h1>
        <h1 class="bravo u-ac">Returns in 2019</h1>
      </div>

      <!-- {% include event-schedule.html %} -->

      <!-- <div class="u-mb--s u-mt u-bg-white u-color-black  u-p">
        <h4 class="ff-secondary u-mt--xs">Dates to Watch</h4>
        <p><strong>May 3:</strong> Pick up the Georgia Straight for the full 2-page weekday calendar and plan your city-wide design exploration.</p>
        <p><strong>May 10:</strong> Get your hands on the Georgia Straight again, this time for the jam-packed 2-page weekend calendar!</p> -->

      <!-- </div> -->

      <div class="push-two lg-push-four columns two-thirds column">
        <h5 class="ff-secondary u-mt--xs">Stay in touch, and show your support.</h5>
        <a target="_blank" rel="noopener" href="https://denimandsteel.typeform.com/to/qMbbuv" class="e-btn-primary vdw-email-button">&gt; Donate to VDW 2018 Today</a>

        <h5 class="ff-secondary">Subscribe to VDW News &amp; Updates</h5>
        <form action="//vancouverdesignwk.us16.list-manage.com/subscribe/post?u=7158559d84aec8751751635da&amp;id=58cff9b111" method="post" target="_blank" rel="noopener" novalidate accept-charset="utf-8">
          <input class="vdw-email-input ff-secondary" type="email" value="" name="EMAIL" tabindex="1" placeholder="email@example.com">
          <input type="submit" value="Subscribe" name="subscribe" class="e-btn-primary vdw-email-button ff-secondary">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7158559d84aec8751751635da_58cff9b111" tabindex="-1" value=""></div>
        </form>
        
        <div class="u-bg-white u-color-black u-mt--s u-p">
          <h3 class="foxtrot u-mt--s u-mb--s">This Year&rsquo;s Theme: IMPACT</h3>
          <p>VDW&rsquo;s third edition is the first to have a theme. Setting a theme creates the opportunity to look at design through a different lens each year, deepening our understanding of design and its presence. After all, design is the means through which we shape and create the world we live in.</p>
          <p>Almost every object, service, and built environment that we interact with has been designed by someone. Everything that has been designed has had a lot of thought put into it - from analysing problems and developing solutions, to conceptualization, production, usability, and ultimately, the resulting effects on people, society and the environment.</p>
          <p>This year, VDW will focus on the impact that design has on our lives and how it can be a powerful tool to make the world a better place. Participating studios will be able to showcase how their designs impact their environment, their industry and people. This will give VDW visitors a better understanding of the extent to which design impacts their world - from the images they see to the clothes they wear and the objects they use.</p>
          <p>We invite you to not just notice design, but to ask questions, uncover hidden layers, and consider the change that a design makes, lest it be taken for granted until it eventually “disappears”.</p>
        </div>
      </div>
    </section>

    <section class="">
      <img style="width: 100%;position: relative;display: block;" alt="Photo Credit: Yew Wood, @maarchitecturestudio, Kudoz, @sengsuriya" title="Photo Credit: Yew Wood, Focal Journey, Kudoz, @sengsuriya" src="images/homepage-1.jpg">
    </section>

    <!-- <section>
      <img src="images/heatmap.png" style="position: relative; width: 100%; height: auto;" width="1914" height="1279">
    </section> -->

    {% include get-involved.html %}

    <section class="">
      <img style="width: 100%;position: relative;display: block;" alt="Photo Credit: Natalie Hopson, @wendy.shep, Kudoz, Meghan Proulx" title="Photo Credit: Natalie Hopson, @wendy.shep, Kudoz, Meghan Proulx" src="images/homepage-2.jpg">
    </section>

    {% include faq.html %}
    
    {% comment %}
    {% include event-schedule.html %}


<!--     <section id="successes" class="c-l-fw-container vdw-section2 u-pt--l u-pb">
      <div class="c-l-container u-db twelve md-eight md-push-two lg-six lg-push-six columns c-callout ff-secondary vdw-callout u-pt">
        <div class="c-l-row">
          <h3 class="f-tt-uc f-ta-c"><span class="f-wt">The Successes </span><br>of 2014</h3>
        </div>
        <div class="c-l-row u-flexbox">
          <div class="c-callout-col1">
            <ul>
              <li class="f-wb">1</li>
              <li class="f-wb">14</li>
              <li class="f-wb">15+</li>
              <li class="f-wb">94</li>
              <li class="f-wb">22</li>
              <li class="f-wb">25000</li>
              <li class="f-wb">26</li>
              <li class="f-wb">10</li>
            </ul>
          </div>
          <div class="c-callout-col2">
            <ul>
              <li class="f-tt-uc">Mayoral Proclamation</li>
              <li class="f-tt-uc">Days</li>
              <li class="f-tt-uc">Disciplines</li>
              <li class="f-tt-uc">Happenings</li>
              <li class="f-tt-uc">Sold Out Events</li>
              <li class="f-tt-uc">Attendees</li>
              <li class="f-tt-uc">Open Studios</li>
              <li class="f-tt-uc">Open Buildings</li>
            </ul>
          </div>
        </div>
        <div class="c-callout-link u-pt--s u-pb--s f-ta-c u-pr--xs u-pl--xs">
          <p>With the help of <span class="f-wb">43</span> supporting partners.
          <p><a class="u-callout-link" href="/2014/">Visit the 2014 Site.</a></p>
        </div>
      </div>
    </section>
 -->


     

    

    {% endcomment %}

    {% include sponsors.html %}
    {% include team.html %}

    <section id="newsletter" class="c-l-container u-pr--xs u-pl--xs">
      <div class="c-l-row u-pb u-db twelve lg-eight lg-push-four columns">
        <h5 class="ff-secondary">Subscribe to VDW News &amp; Updates</h5>
        <form action="//vancouverdesignwk.us16.list-manage.com/subscribe/post?u=7158559d84aec8751751635da&amp;id=58cff9b111" method="post" target="_blank" rel="noopener" novalidate accept-charset="utf-8">
          <input class="vdw-email-input u-ac ff-secondary" type="email" value="" name="EMAIL" tabindex="2" placeholder="email@example.com">
          <input type="submit" value="Subscribe" name="subscribe" class="e-btn-primary vdw-email-button u-ac ff-secondary">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7158559d84aec8751751635da_58cff9b111" tabindex="-1" value=""></div>
        </form>
      </div>
    </section>

    <footer id="contact" class="c-l-container u-pr--xs u-pl--xs">
      <div class="eight push-two lg-push-four columns u-mb">
        <div class="one-half column">
          <h3 class="f-tt-uc ff-secondary golf">Contact</h3>
          <p>General inquiries: <a class="u-email-link" href="mailto: info@vancouverdesignwk.com">info@vancouverdesignwk.com</a></p>
        </div>
        <div class="one-half column">
          <h3 class="f-tt-uc ff-secondary golf">Social Media</h3>
          <a class="u-social-link" href="https://www.instagram.com/vandesignwk/"><div class="u-social-icon u--instagram"></div></a>
          <a class="u-social-link" href="https://twitter.com/vandesignwk"><div class="u-social-icon u--twitter"></div></a>
          <a class="u-social-link" href="https://www.facebook.com/vandesignwk"><div class="u-social-icon u--facebook"></div></a>
        </div>
      </div>
    </footer>

  </main>

  <script type="text/javascript" src="/javascript/third-party.js"></script>
  <script type="text/javascript" src="/javascript/app-2017.js?20180507"></script>
  <script>
    $(function() {
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  </script>
</body>
</html>
