<section id="about" class="c-l-container u-pb u-pr--xs u-pl--xs">
  <div class="c-l-row eight push-two lg-push-four columns u-pr--xs u-pl--xs">
    <h3 class="charlie">About Vancouver Design Week</h3>
    <h4 class="ff-secondary f-wb">What is Vancouver Design Week?</h4>
    <p>Vancouver Design Week (VDW) is a collaborative platform, a call to action and an invitation to us all to immerse in design and its transformative potential. VDW&rsquo;s city-wide festival connects and celebrates our city&rsquo;s creative capital through a week-long program of design events and experiences.</p>

    <h4 class="ff-secondary f-wb">What we believe</h4>
    <p>Vancouver Design Week (VDW) is a collaborative platform, a call to action, and an invitation for us all to immerse in design and its transformative potential. We believe in the problem-solving capabilities of designers. Regardless of their specialization, they are essential in shaping a better future. VDW offers a city-wide platform (which extends to satellite communities within Metro Vancouver) to connect, educate, and inspire—empowering individual and collective agency.</p>

    <h4 class="ff-secondary f-wb">Vancouver Design Foundation</h4>
    <p>Vancouver Design Week is an initiative of Vancouver Design Foundation (VDF). VDF is a non-profit organization which works to further our region&rsquo;s design value and impact while helping to define our authentic design identity. We reinforce our city&rsquo;s design ecosystem and focus on four key areas: social innovation, creativity and culture, the built environment, and public engagement. We deliver partner-funded programs and campaign to raise awareness of the value of design.</p>
  </div>
</section>