<article id="schedule">
  <div class="c-l-container u-pb">
    <script type="text/javascript">
      vdwEvents = {};
    </script>
    <section id="event" class="events outer-container page-break">
      <div class="u-pr--xs u-pl--xs u-mt--l">
        <h3 class="charlie">2017 Event Schedule</h3>
        <!-- <h5 class="ff-secondary">May 12th - 14th, 2017</h5> -->
      </div>

      {% for dayNumber in (12..14) %}
        {% assign times = "am|pm" | split: "|" %}
        {% for timeValue in times %}
          {% capture eventDayCategory %}event-{{dayNumber}}-{{timeValue}}{% endcapture %}
          {% if site.categories[eventDayCategory].size > 0 %}
            <div id="{{ eventDayCategory }}" class="day-events active">
              <div class="day-header">
                <h2 class="dayname">
                  {{ site.categories[eventDayCategory][0].dayOfWeek}},
                  <strong>
                    {{ site.categories[eventDayCategory][0].dayOfMonth}}
                    {% if timeValue == 'am' %}
                      <span class="f-tt-uc">Morning</span>
                    {% endif %}
                    {% if timeValue == 'pm' %}
                      <span class="f-tt-uc">Afternoon</span>
                    {% endif %}
                  </strong>
                </h2>
                <p class="event-count">{{site.categories[eventDayCategory].size}} Events [<span class="indicator plus">+</span><span class="indicator minus">-</span>]</p>
              </div>
              <div class="events-list">
                <div id="map-{{eventDayCategory}}" class="map"></div>
                {% for priority in (1..50) %}{% for post in site.categories[eventDayCategory] %}{% if post.priority == priority and post.published == true %}
                  <script type="text/javascript">
                    if (typeof vdwEvents['map-{{eventDayCategory}}'] === 'undefined') {
                      vdwEvents['map-{{eventDayCategory}}'] = [];
                    }
                    vdwEvents['map-{{eventDayCategory}}'].push({lat: {{post.latitude}}, long: {{post.longitude}}, priority: {{post.priority}}, slug: "{{post.slug}}"});
                  </script>
                  <div id="event-{{post.slug}}" class="event-item">
                    <div class="eventheader row">
                      <div class="left md-eight columns">
                        <!-- <div class="marker"><span class="active">{{ post.priority }}</span></div> -->
                        <h3 class="title"><span class="js-marker-index"></span>{{ post.title }}</h3>
                        <p class="time-and-place">
                          {% if post.endTime %}
                            {{ post.startTime }} - {{ post.endTime }}
                          {% else %}
                            {{ post.startTime }}
                          {% endif %}
                          at <a target="_blank" rel="noopener" href="http://maps.google.com/?q={{ post.latitude }},{{ post.longitude }}">{{ post.addressLabel }}</a>
                        </p>
                      </div>
                      <div class="right md-four columns">
                        <p class="price">{{ post.price }}</p>
                        {% if post.eventUrl %}
                        <a target="_blank" rel="noopener" href="{{ post.eventUrl }}" class="highlight">{{ post.eventUrlLabel }}</a>
                        {% endif %}
                      </div>
                    </div>

                    <div class="eventcontent">
                      <p class="description">{% if post.type %}<span class="event-type">[{{ post.type }}]</span> {% endif %}{{ post.description }}</p>
                    </div>
                  </div>
                {% endif %}{% endfor %}{% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </section>
  </div>

</article>