<section id="faq" class="c-l-container u-pb u-pr--xs u-pl--xs">
  <div class="c-l-row eight push-two lg-push-four columns u-pr--xs u-pl--xs">
    <h3 class="charlie">Questions? We have answers.</h3>

        <h4 class="ff-secondary f-wb">When is VDW?</h4>
        <p>May 12-14. We&rsquo;re running a smaller event this year, and expect to be back with a full week of programming for 2018 with the theme of Impact: How are designers impacting our city and our world? What positive change are they creating in our communities? Why is design critical to solving social and environmental problems?. A date has not yet been set for 2018.</p>

        <h4 class="ff-secondary f-wb">Where is VDW?</h4>
        <p>Vancouver Design Week is happening all around Vancouver. A full event calendar and maps will become available as events and locations are confirmed. <a class="newsletter-link" href="#">Sign up for our newsletter</a> to hear when the event roster is announced.</p>

        <h4 class="ff-secondary f-wb">How do I register? Is it free?</h4>
        <p>Attendance to some events will require registration; some are free and some aren&rsquo;t. Registration and ticketing are managed by their individual hosts/organizers, so be sure to confirm details before heading out. For hosts we have a modest registration fee to help us cover our costs.</p>

        <h4 class="ff-secondary f-wb">How can I get involved?</h4>
        <p>Like the weekend&rsquo;s make-up, there are a diversity of ways to get involved - host a tour, submit an event, become a supporting partner, volunteer, or make a donation.</p>
        <p>But most importantly, show up, speak up and stand out! Exchange perspectives with (other) designers, try new things, ask questions, share your thoughts and be a part of the conversation!</p>

        <h4 class="ff-secondary f-wb">Can anyone list an event as part of VDW?</h4>
        <p>VDW invites local designers, design organizations, and thinkers to challenge and expand the Vancouver design conversation. If you&rsquo;re a part of the Vancouver design scene and are interested in creating a design-related event, <a href="http://vancouverdesignwk.com/opencall"></a>our call for submissions is now open</a> and has further details.</p>
        <p>If you don&rsquo;t have any programming to propose, but want to share your space - your studio, your workshop, your cafe/<wbr>shop/<wbr>restaurant/<wbr>tasting room, consider joining our Open Doors lineup.</p>

        <h4 class="ff-secondary f-wb">How is VDW possible?</h4>
        <p>We hoped you&rsquo;d ask.</p>
        <p>Vancouver Design Week is a not-for-profit social enterprise. Created by a passionate team of volunteers from across design disciplines - with advisory and core committees composed of some of the city&rsquo;s most renowned design institutions, entrepreneurs, educators, thinkers, and makers - Vancouver Design Week has been willed into being by a shared belief that design is imperative to improving the quality and potential of our city.</p>
        <p>Help us make this vision a reality by showing up, speaking up, and standing out.</p>
  </div>
</section>