<section id="faq" class="c-l-container u-pb u-pr--xs u-pl--xs">
  <div class="c-l-row eight push-two lg-push-four columns u-pr--xs u-pl--xs">
    <h3 class="charlie">Questions? We have answers.</h3>
    <h4 class="ff-secondary f-wb">What is Vancouver Design Week(end)?</h4>
    <p>Vancouver Design Week (VDW) is the city&rsquo;s official interdisciplinary design festival &mdash; at once a city-wide platform, invitation and call to action! VDW is a unique opportunity to: celebrate local design talent; connect design makers and users; and to support design’s capacity for improving the quality of our everyday lives.</p>
    <p>We are all impacted by design everyday. VDW’s mission is: to increase awareness of and appreciation for design, design process and the pervasive impact design has on important social and cultural issues; and to create an informed, inclusive (and inspiring!) participatory platform for engaging them.</p>
    <p>VDW&rsquo;s full 10 day festival is gearing up to return for 2018, but rather than go without another year, we&rsquo;re whetting the palate for 2017 with an abbridged program &mdash; a Vancouver Design Week(end).</p>

    <h4 class="ff-secondary f-wb">When is Vancouver Design Week(end)?</h4>
    <p>May 12-14, 2017.</p>

    <h4 class="ff-secondary f-wb">Where is Vancouver Design Week(end)?</h4>
    <p>It&rsquo;s happening all around Vancouver. A full event calendar and maps will become available as events and locations are confirmed. <a class="newsletter-link" href="#">Sign up for our newsletter</a> to hear when the line-up goes live.</p>

    <h4 class="ff-secondary f-wb">How can I get involved?</h4>
    <p>Proactive question - we want you!</p>
    <p>Host an event, become a supporting partner, volunteer, make a donation... and most importantly: show up, join in, and stand out! Explore practices and processes, exchange perspectives with (other) designers, ask questions, share your thoughts and be a part of the conversation!</p>

    <h4 class="ff-secondary f-wb">How can I support Vancouver Design Week?</h4>
    <p>We’re glad you asked!</p>

    <p>Become a supporting partner, make a donation, or volunteer amongst other designers across disciplines and districts. See below for more details on all of these options.</p>

    <h4 class="ff-secondary f-wb">How do I become a host? Can anyone list an event?</h4>
    <p>VDW invites local designers across disciplines to sign up for signature open doors events - Open Studios, Open Buildings, or Tastings. Open your space, show off your work, share a sampling of what makes you unique as a part of our design community!</p>

    <p>Don&rsquo;t have a studio, building or tasting room, but you run &mdash; or have always wanted to create &mdash; a design-focused happening &mdash; now’s your chance! If it will enrich, expand or constructively challenge the Vancouver design conversation, and you can successfully host it during VDWknd, <a href="http://vancouverdesignwk.com/opencall"></a>apply for our Open Call</a>. <em>Note that a modest registration fee will be charged to help cover the cost of maintaining the platform</em>.</p>

    <h4 class="ff-secondary f-wb">How do I sign up for events? Is it free?</h4>
    <p>Attendance to some events will be free, some (where space is limited) will require registration, and others will require paid tickets. Registration and ticketing will be managed by individual event hosts / organizers, so be sure to confirm details before heading out. And sign up for our newsletter so you don’t miss any early bird announcements!</p>

    <h4 class="ff-secondary f-wb">Who puts on Vancouver Design Week and how is possible?</h4>
    <p>Vancouver Design Week is a not-for-profit social enterprise, created by a passionate team of volunteers from across design disciplines; with the support of generous contributions of time, talent and resources from the larger design community. In collaboration with some of the city&rsquo;s most renowned designers, design institutions, entrepreneurs, educators, thinkers, and makers &mdash; Vancouver Design Week has been willed into being by a shared belief that design is imperative to improving the quality and potential of our city. Help us make this vision a reality by showing up, joining in, and standing out!
    </p>
  </div>
</section>