<section class="u-bg-peach c-l-fw-container u-color-black u-pb u-pr--xs u-pl--xs">
  <div id="get-involved" class="c-l-container u-pt u-pb md-nine lg-eight push-two lg-push-four columns">
  
      <section class="c-l-container">

      <h3 id="festival" class="charlie u-pr--xs u-pl--xs">The Festival</h3>
      <p>Last year, VDW featured 111 programs and events which explored the theme of “Impact.” Over 7 days, more than 380 designers showcased innovative work, convened workshops and talks, and organized activations and exhibitions to connect with the community.</p>

      
      {% comment %}<h5 class="ff-secondary foxtrot">Program Registration Opens Early 2019</h5>{% endcomment %}
      <p>From hosting an event, to volunteering, to showcasing leadership in your sector with a sponsorship, there are many ways you can bring your ingenuity and passion to Vancouver Design Week. Designers and creatives from across disciplines are invited to participate in our core programming areas.</p>

      <p>If you’re not sure how to participate or you don’t see a category that fits your idea, get in touch.</p>

      <p><a class="e-btn-secondary u-ac ff-secondary" href="mailto:info@vancouverdesignwk.com">Contact the Organizers</a></p>
     
      {% comment %}
      <div class="c-even-boxes">
        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">1 / Design Studios</h3>
          <p><strong>Newly revised for 2019!</strong> Industry curated studios from each design discipline. Announcing early 2019.</p>
        </div>
        
        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">2 / Design Tastings</h3>
          <p>Learn (and taste) what shaped and inspired some of Vancouver's most distinctive tastings rooms (restaurants, cafes, bars, breweries) from the design teams that created them.</p>
        </div>

        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">3 / Open Call</h3>
          <p>Host a design talk, workshop or tour.</p>
        </div>

        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">4 / Design Spaces</h3>
          <p>Be guided through cutting edge designed buildings, urban spaces and normally private spaces led by architects and industry experts.</p>
        </div>

        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">5 / Design Landmarks</h3>
          <p>Back in 2019, we will ask the community : “What is your favorite design landmark?” and secure tours for a select few.</p>
          <p><a class="e-btn-secondary u-ac ff-secondary" href="/landmarks">See the 2018 Landmarks</a></p>
        </div>

        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">6 / Design Editions</h3>
          <p>Popular public events produced by our city's design influencers, with a special VDW twist! Bring your event&rsquo;s perspective to a whole new audience with a special VDW edition.<br><br><em>Note: Editions are registration fee-exempt.</em></p>
        </div>
      </div>
      {% endcomment %}
 
      {% comment %}
      <h5 class="ff-secondary foxtrot">Show Your Support</h5>
      <div class="c-even-boxes">
        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">1 / Volunteer with VDW</h3>
          <p>Teamwork makes the dream work! As a volunteer you will have access to places and people that help grow your network and lend a helping hand to a community-raised festival. We strive to create a great volunteer experience, but spaces are often limited so jump in early.</p>
          <p><a class="e-btn-secondary u-ac ff-secondary" href="https://docs.google.com/forms/d/1nNQGfV3eIr94swofHbSDHHjeHI7VJgS20VJTb_Iux5o">Get on the Volunteer List</a></p>
        </div>

        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">2 / Become a Sponsor</h3>
          <p>Vancouver Design Week is 100% community-produced, and cannot happen without financial sponsorship. With various levels to fit a range of budgets, we have a place for firms of all sizes. Or, consider chipping in with a modest donation, because every bit helps.</p>
          <p><a class="e-btn-secondary u-ac ff-secondary" href="/downloads/VDW_SponsorGuide_2018.pdf">Get Sponsor Guide</a></p>
          <p><a class="e-btn-secondary u-ac ff-secondary" href="https://denimandsteel.typeform.com/to/qMbbuv">Make a Donation</a></p>
        </div>
 
        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">3 / Become a Vancouver Design Foundation Member</h3>
          <p>As we build the platform to not only sustain Vancouver Design Week, but to incubate and foster other initatives. Learn about our new membership program, and consider joining to grow your involvement in our unique design community.</p>
          <p><a class="e-btn-secondary u-ac ff-secondary" href="https://membership.vancouverdesignwk.com">Learn More about VDF Membership</a></p>
        </div>

      </div>
      {% endcomment %}
    </section>
  </div>
</section>