<section class="u-bg-pink c-l-fw-container u-color-black u-pb u-pr--xs u-pl--xs">
  <div id="get-involved" class="c-l-container u-pt u-pb md-nine lg-eight push-two lg-push-four columns">
<!--     <h3 class="charlie">GET INVOLVED!</h3>
    <p>From volunteering to hosting an event, to proposing something we&rsquo;ve never thought of, there are many ways you can bring your ingenuity and passion to Vancouver Design Week(end).</p>
    <h5 class="ff-secondary golf">
      Join in, speak up, and stand out!
      <br><br>
      Event host registrations close at 6pm March 29.<br> 
      Public registrations open April 18. 
     </h5> -->
  
      <section class="c-l-container">
      <h3 id="our-programming" class="charlie u-pb u-pr--xs u-pl--xs">Our Programming</h3>
      <p>Vancouver Design Week happenings spring from the genius of the design community itself. Each year designers of all stripes step out with a wide range of offerings to create the showcase of the city&rsquo;s talent. In 2018, there are even more ways to participate. If you don&rsquo;t see a category that fits your idea, get in touch and we will work with you to make it happen.</p>
      <div class="c-even-boxes">
        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">1 / Design Studios</h3>
          <p>A unique opportunity to discover the "behind the scenes" of local design studios as they open up their doors to share their work, perspectives and practices.</p>
          <p><a class="e-btn-primary vdw-email-button u-ac ff-secondary" href="https://denimandsteel.typeform.com/to/v72DIj">Register Your Design Studio Opening</a></p> 
        </div>
        
        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">2 / Designed Tastings</h3>
          <p>Learn (and taste) what shaped and inspired some of Vancouver's most distinctive tastings rooms (restaurants, cafes, bars, breweries) from the design teams that created them.</p>
          <p><a class="e-btn-primary vdw-email-button u-ac ff-secondary" href="https://denimandsteel.typeform.com/to/quwyay">Register Your Designed Tasting</a></p>
        </div>

        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">3 / Design Talks, Workshops, and Tours</h3>
          <p>Design discussions that open your mind, stimulate your creativity and learn first hand from our city's design leaders and innovators.</p>
          <p><a class="e-btn-primary vdw-email-button u-ac ff-secondary" href="https://denimandsteel.typeform.com/to/LE5PSF">Register Your Design Talk</a></p>
        </div>      

        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">4 / Design Spaces</h3>
          <p>Be guided through cutting edge designed buildings, urban spaces and normally private spaces led by architects and industry experts.</p>
          <p><a class="e-btn-primary vdw-email-button u-ac ff-secondary" href="https://denimandsteel.typeform.com/to/yPklG4">Run a Design Space Tour</a></p>
        </div>


          <h3 class="foxtrot u-mt--s u-mb--s">6 / Design Landmarks</h3>
          <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <p>Voted by Vancouverites as our city&rsquo;s best "Design Landmarks", join the tour and learn about the original design intent and how they came to be from the designer that created them.</p>
          <p><a class="e-btn-primary vdw-email-button u-ac ff-secondary" href="https://denimandsteel.typeform.com/to/zvATZc">
        </div>

        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">7 / Design Editions</h3>
          <p>Popular public events produced by our city&rsquo;s design influencers with a special VDW twist!</p>
          <p><a class="e-btn-primary vdw-email-button u-ac ff-secondary" href="https://denimandsteel.typeform.com/to/bO0wRR">Register Your Event</a></p>
        </div>
      </div>

  
</section>