<section class="u-bg-peach c-l-fw-container u-color-black u-pb u-pr--xs u-pl--xs">
  <div id="get-involved" class="c-l-container u-pt u-pb md-nine lg-eight push-two lg-push-four columns">
  
      <section class="c-l-container">

      <h3 id="get-involved" class="charlie u-pr--xs u-pl--xs">Get Involved!</h3>
      <p>From volunteering to hosting an event to showing leadership in your sector with a sponsorshipthere are many ways you can bring your ingenuity and passion to Vancouver Design Week.</p>

      <h5 class="ff-secondary foxtrot">Participant Registration</h5>
      <p>Each year designers of all stripes step out with a wide range of offerings to create the showcase of the city&rsquo;s talent. In 2018, there are even more ways to participate. If you don&rsquo;t see a category that fits your idea, get in touch and we will work with you to make it happen.</p>

      <p><a class="e-btn-secondary u-ac ff-secondary" href="mailto:events@vancouverdesignwk.com">Contact the Organizers</a></p>
      <p class="f-wb u-pb--xs">Event host registrations close at midnight March 29.</p>
      <div class="c-even-boxes">
        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">1 / Design Studios</h3>
          <p>A unique opportunity to discover the "behind the scenes" of local design studios as they open up their doors to share their work, perspectives and practices.</p>
          <p><a class="e-btn-secondary u-ac ff-secondary" href="https://denimandsteel.typeform.com/to/v72DIj">Register Your Design Studio Opening</a></p> 
        </div>
        
        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">2 / Design Tastings</h3>
          <p>Learn (and taste) what shaped and inspired some of Vancouver's most distinctive tastings rooms (restaurants, cafes, bars, breweries) from the design teams that created them.</p>
          <p><a class="e-btn-secondary u-ac ff-secondary" href="https://denimandsteel.typeform.com/to/quwyay">Register Your Designed Tasting</a></p>
        </div>

        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">3 / Design Talks, Workshops, and Tours</h3>
          <p>Design discussions that open your mind, stimulate your creativity and learn first hand from our city's design leaders and innovators.</p>
          <p><a class="e-btn-secondary u-ac ff-secondary" href="https://denimandsteel.typeform.com/to/ptAtjz">Register Your Design Talk</a></p>
        </div>

        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">4 / Design Spaces</h3>
          <p>Be guided through cutting edge designed buildings, urban spaces and normally private spaces led by architects and industry experts.<br><br></p>
          <p><a class="e-btn-secondary u-ac ff-secondary" href="https://denimandsteel.typeform.com/to/yPklG4">Run a Design Space Tour</a></p>
        </div>

        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">5 / Design Landmarks</h3>
          <p>Voted by Vancouverites, Design Landmark tours will reveal the how these buildings and spaces came to be, from the designers that created them.</p>
          <p>Suggestions so far include Polygon Gallery, Emily Carr, Hotel Vancouver, Robson Square, Woodwards, Wilson School of Design, Parks Board Office. </p>
          <p>The suggestions are in! <a href="/landmarks">See the Design Landmarks for 2018!</a></p>
        </div>

        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">6 / Design Editions</h3>
          <p>Popular public events produced by our city's design influencers, with a special VDW twist! Bring your event&rsquo;s perspective to a whole new audience with a special VDW edition.<br><br><em>Note: Editions are registration fee-exempt.</em></p>
          <p><a class="e-btn-secondary u-ac ff-secondary" href="https://denimandsteel.typeform.com/to/bO0wRR">Register Your Event Edition</a></p>
        </div>
      </div>
 
      <h5 class="ff-secondary foxtrot">Show Your Support</h5>
      <div class="c-even-boxes">
        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">1 / Volunteer with VDW</h3>
          <p>Teamwork makes the dream work! As a volunteer you will have access to places and people that help grow your network and lend a helping hand to a community-raised festival. We strive to create a great volunteer experience, but spaces are often limited so jump in early.</p>
          <p><a class="e-btn-secondary u-ac ff-secondary" href="https://docs.google.com/forms/d/1nNQGfV3eIr94swofHbSDHHjeHI7VJgS20VJTb_Iux5o">Get on the Volunteer List</a></p>
        </div>

        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">2 / Become a Sponsor</h3>
          <p>Vancouver Design Week is 100% community-produced, and cannot happen without financial sponsorship. With various levels to fit a range of budgets, we have a place for firms of all sizes. Or, consider chipping in with a modest donation, because every bit helps.</p>
          <p><a class="e-btn-secondary u-ac ff-secondary" href="/downloads/VDW_SponsorGuide_2018.pdf">Get Sponsor Guide</a></p>
          <p><a class="e-btn-secondary u-ac ff-secondary" href="https://denimandsteel.typeform.com/to/qMbbuv">Make a Donation</a></p>
        </div>
 
        <div class="u-bg-white u-color-black u-pl--xs u-pr--xs">
          <h3 class="foxtrot u-mt--s u-mb--s">3 / Become a Vancouver Design Foundation Member</h3>
          <p>As we build the platform to not only sustain Vancouver Design Week, but to incubate and foster other initatives. Learn about our new membership program, and consider joining to grow your involvement in our unique design community.</p>
          <p><a class="e-btn-secondary u-ac ff-secondary" href="https://membership.vancouverdesignwk.com">Learn More about VDF Membership</a></p>
        </div>

      </div>
    </section>
  </div>
</section>