<section class="u-bg-pink c-l-fw-container u-color-black">
  <div id="get-involved" class="c-l-container u-pt u-pb eight push-two lg-push-four columns">
    <h3 class="charlie">GET INVOLVED!</h3>
    <h5 class="ff-secondary golf">From volunteering to hosting an event to proposing something we&rsquo;ve never thought of, there are many ways you can bring your ingenuity and passion to Vancouver Design Week(end).</h5>
    <h5 class="ff-secondary golf">Please note that registration fees do apply to event hosting, but any registrations that are not approved will be refunded.</h5>
    <div class="row">
      <div class="six columns">
        <div class="content">
          <h4>1 / Open Studios</h4>
          <p>Open the doors to your space, your process, and your unique design perspective. Open Studios offers a chance to bring fellow designers and the public into your world, and to show how your work shapes theirs.</p>
        </div>
        <a target="_blank" rel="noopener" href="/open-studio-submission" class="u-color-red f-wb">Register to Open Your Studio</a>
      </div>
      <div class="six columns">
        <div class="content">
          <h4>2 / Open Call</h4>
          <p>Local designers, design organizations, and design thinkers are invited to join the design conversation during the Vancouver Design Week(end). If you are positively contributing to the local design scene, and are interested in creating a design-related happening, please pitch your idea below.</p>
          Members of the VDW event administration will review your submission to ensure alignment with the VDW mission.</p>
        </div>
        <!-- <p>Open Studios Inquiries: <a href="mailto:info@vancouverdesignwk.com" class="u-color-red f-wb">openstudios@vancouverdesignwk.com</a></p>
 -->
        <a target="_blank" rel="noopener" href="/event-submission/" class="u-color-red f-wb">Propose an Open Call Event</a>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <div class="content">
          <h4>3 / Tastings</h4>
          <p>Many food and beverage providers have made design a priority in their business, from branding to interiors to the offerings themselves. Tastings is a way to invite in a design-conscious audience to showcase what you've made. Tastings hosts are encouarged to sell tickets in advance to manage capacity and cover costs.</p>
          <p>Tastings Inquiries: <a href="mailto:info@vancouverdesignwk.com" class="u-color-red f-wb">tastings@vancouverdesignwk.com</a></p>
        </div>
        <a target="_blank" rel="noopener" href="/samplings-registration" class="u-color-red f-wb">Register to Host a Tasting</a>
      </div>

      <div class="six columns">
        <div class="content">
          <h4>4 / Become A Supporting Partner</h4>
          <p>Vancouver Design Week is a collaborative production for the advancement of our city&rsquo;s culture, quality of life, and future potential; and as a not-for profit social enterprise, is only possible through the support of its citizenry. To support design culture and potential join in, step up, and stand out!</p>
          <p>Partner Inquiries: <a href="mailto:info@vancouverdesignwk.com" class="u-color-red f-wb">info@vancouverdesignwk.com</a></p>
        </div>
        <a target="_blank" rel="noopener" href="" class="u-color-red f-wb">Inquire about a Partnership</a>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <div class="content">
          <h4>5 / Volunteer</h4>
          <p>Vancouver Design Week is a collaborative production for the advancement of our city&rsquo;s culture, quality of life, and future potential; and as a not-for profit social enterprise, is only possible through the support of its citizenry. To support design culture and potential join in, step up, and stand out!</p>
        </div>
        <a target="_blank" rel="noopener" href="https://docs.google.com/forms/d/e/1FAIpQLSc8wrUKwb66sQ5GPw3aj-yVWTE_NyS3hByiLY9zK_fW4DDing/viewform?usp=sf_link" class="u-color-red f-wb">Volunteer with VDW</a>
      </div>

      <div class="six columns">
        <div class="content">
          <h4>6 / Make a Donation</h4>
          <p>Vancouver Design Week is a collaborative production for the advancement of our city&rsquo;s culture, quality of life, and future potential; and as a not-for profit social enterprise, is only possible through the support of its citizenry. A financial donation helps us tremendously.</p>
        </div>
        <a target="_blank" rel="noopener" href="https://denimandsteel.typeform.com/to/qMbbuv" class="u-color-red f-wb">Donate to VDW</a>
      </div>
<!--       <div class="six columns">
        <div class="content">
          <h4>4 / Become A VDW Ambassador</h4>
          <p>Learn more about the wide range of events and organizers and get more connected with(in) the design community by becoming a Vancouver Design Week Ambassador.</p>
          <p>And if your space is open to the public, has room for VDW postcards and someone on hand to act as an in-house Ambassador, join the network of official Vancouver Design Week information hubs.</p>
        </div>
        <a href="mailto:info@vancouverdesignwk.com?subject=Become A VDW Ambassador" class="u-color-red f-wb">Become A VDW Ambassador</a>
 -->      </div>
    </div>
  </div>
</section>