<nav class="c-navigation" role="navigation">
    <div class="home"><a class="c-navigation--link" href="/#hero" title="Home">Vancouver Design Week(end)</a></div>
    <div class="c-navigation--mobile-toggle c-navigation--link js-nav-mobile-toggle">Menu [<span class="js-menu-sign">+</span>]</div>
    <div class="c-navigation--links">
      <!-- <a class="c-navigation--link" href="/blog/" title="Blog">Blog</a> -->
      <a class="c-navigation--link" href="/#get-involved" title="Get Involved">Get Involved</a>
      <!-- <div><a class="c-navigation--link" href="#schedule" title="Schedule">Schedule</a></div> -->
      <a class="c-navigation--link" href="/#faq" title="Frequently Asked Questions">FAQ</a>
      <a class="c-navigation--link" href="/#partners" title="Partners">Partners</a>
      <a class="c-navigation--link" href="/spotlight" title="Spotlight">Spotlight</a>
      <a class="c-navigation--link" href="/dispatch" title="Dispatch">Dispatch</a>
      <a class="c-navigation--link" href="/#team" title="Team">Team</a>
    </div>
</nav>