<nav class="c-navigation" role="navigation">
    <div class="home"><a class="c-navigation--link" href="/#hero" title="Home">Vancouver Design Week</a></div>
    <div class="c-navigation--mobile-toggle c-navigation--link js-nav-mobile-toggle">Menu [<span class="js-menu-sign">+</span>]</div>
    <div class="c-navigation--links">
      <!-- <a class="c-navigation--link" href="/#schedule" title="Schedule">Schedule</a> -->
      <a class="c-navigation--link" href="/#festival" title="Festival">Festival</a>
<!--       <a class="c-navigation--link" href="/spotlight" title="Spotlight">Spotlight</a> -->
      <a class="c-navigation--link" href="/#sponsors" title="Sponsors">Sponsors</a>
<!--       <a class="c-navigation--link" href="https://membership.vancouverdesignwk.com" title="Membership">Membership</a> -->
<!--       <a class="c-navigation--link" href="/#team" title="Team">Team</a> -->
      <a class="c-navigation--link" href="/#about" title="About">About</a>
      <a class="c-navigation--link" href="/#contact" title="Contact">Contact</a>
    </div>
</nav>