<section class="c-l-fw-container u-bg-white u-color-black u-pr--xs u-pl--xs">

  <div id="sponsors" class="c-l-container push-two large-push-four eight columns u-pt">

    <h1 class="u-color-pink">Sponsors</h1>
    <p>We owe a great thanks to our generous and diverse sponsors. Vancouver Design Week would not be possible without their support and leadership.</p>

<!--     <p class="become-a-sponsor"><a class="u-color-black" href="mailto:info@vancouverdesignwk.com?subject=Become A Leading Partner">Show Leadership! Become A Partner &gt;</a></p> -->
    <h2 class="u-color-grey">Leadership</h2>
    <div class="sponsors support-lg center">
      <a href="https://rize.ca" target="_blank"><img src="/images/supporters/rise.png" alt="Rize"></a>
      <a href="http://www.vancouver.bulthaup.com/en" target="_blank" class="grow"><img src="/images/supporters/bulthaup.png" alt="Bulthaup"></a>
      <a href="http://www.lasallecollegevancouver.com" target="_blank" class="grow"><img src="/images/supporters/lasalle.png" alt="Bulthaup"></a>
    </div>

    <h2 class="u-color-grey">Visionary</h2>
    <div class="sponsors support-md">
      <a href="https://www.bocci.ca" target="_blank"><img src="/images/supporters/BOCCI.png" alt="Bocci"></a>
      <a href="http://ecuad.ca" target="_blank" class="grow"><img src="/images/supporters/Emily-Carr.png" alt="Emily Carr"></a>
      <a href="http://livingspace.com" target="_blank" class="grow"><img src="/images/supporters/livingspace_logo_hor_black.png" alt="Living Space"></a>
      <a href="http://localpractice.ca" target="_blank" class="shrink" style="flex-basis: 175px;"><img src="/images/supporters/local-practice.png" alt="Local Practice"></a>
    </div>

    <div class="outer-container supporters">
      <h2 class="u-color-grey">Community</h2>
      <div class="sponsors support-sm">
        <a href="http://www.ideaschoolofdesign.com" target="_blank" class="grow"><img src="/images/supporters/CAPU.png" alt="Capilano University"></a>
        <a href="https://www.bfjdesign.com" target="_blank" class="shrink"><img src="/images/supporters/bfj.png" alt="BFJ Design"></a>
      </div>
      <div class="sponsors support-sm">
        <a href="http://hcma.ca" target="_blank"><img src="/images/supporters/hcma.png" alt="HCMA"></a>
        <a href="http://dialogdesign.ca" target="_blank"><img src="/images/supporters/dialog.png" alt="DIALOG"></a>
        <a href="http://reveryarchitecture.com" class="grow" style="flex-basis: 250px;" target="_blank"><img src="/images/supporters/revery.png" alt="Revery Architecture"></a>
      </div>
    </div>

    <div class="outer-container supporters">
      <h2 class="u-color-grey">Industry Partners</h2>
      <div class="sponsors support-xl last">
        <a href="http://denimandsteel.com" alt="Denim and Steel Interactive" target="_blank"><img src="/images/supporters/D+S.png" alt="Denim & Steel"></a>
        <a href="http://causeandaffect.com" alt="Cause and Affect" target="_blank"><img src="/images/supporters/C+A.png" alt="Cause + Effect"></a>
      </div>
      <div class="sponsors support-lg">
        <a href="http://jodacreative.com" target="_blank"><img src="/images/supporters/Joda.png" alt="Joda Creative"></a>
        <a href="https://www.picatic.com" target="_blank"><img src="/images/supporters/Picatic.png" alt="Picatic"></a>
      </div>
      <div class="sponsors support-lg">
        <a href="http://haocreative.ca" style="flex-basis: 240px;" class="shrink" target="_blank"><img src="/images/supporters/hao.png" alt="HAO"></a>
        <a href="" class="shrink" style="flex-basis: 180px;" target="_blank"><img src="/images/supporters/miska.png" alt="Miska"></a>
      </div>      
    </div>

    <div class="outer-container supporters">
      <h2 class="u-color-grey">Community Partners</h2>
      <div class="sponsors support-sm last">
        <a href="http://glenmorecustomprint.com" target="_blank" style="flex-basis: 240px;" class="grow"><img src="/images/supporters/glenmore.png" alt="Glenmore Custom Print + Packaging"></a>
        <a href="https://thisopenspace.com" target="_blank" style="flex-basis: 240px;" class="grow"><img src="/images/supporters/thisopenspace.png" alt="this open space"></a>
        <a href="https://mobibikes.ca" target="_blank" style="flex-basis: 240px;"><img src="/images/supporters/mobi.png" alt="Mobi by Shaw Go"></a>
      </div>
      <div class="sponsors support-sm last">
        <a href="https://www.chambar.com" target="_blank"><img src="/images/supporters/chambar.png" alt="Chambar"></a>
      </div>
    </div>  

    <div class="outer-container supporters">
      <h2 class="u-color-grey">Cultural Partners</h2>
      <div class="sponsors support-sm last">
        <a href="https://museumofvancouver.ca" target="_blank"><img src="/images/supporters/mov.png" alt="Museum of Vancouver"></a>
        <a href="http://www.citystudiovancouver.com" target="_blank" class="grow"><img src="/images/supporters/city-studio.png" alt="City Studio Vancouver"></a>
        <a href="https://gdc.design" target="_blank"><img src="/images/supporters/gdc.png" alt="GDC"></a>
        <a href="https://www.rgd.ca" target="_blank"><img src="/images/supporters/RGD.png" alt="RGD"></a>
        <a href="https://vancouver.interiordesignshow.com" target="_blank"><img src="/images/supporters/IDS.png" alt="IDS Vancouver"></a>
        <a href="https://http://vancouver.interiordesignshow.com" target="_blank"><img src="/images/supporters/vancouver-design-nerds.png" alt="Vancouver Design Nerds"></a>
        <a href="https://urbanarium.org" target="_blank" style="flex-basis: 240px;"><img src="/images/supporters/Urbanarium.png" alt="Urbanarium"></a>
        <a href="https://www.raic.org" target="_blank"><img src="/images/supporters/raic-national.jpg" style="flex-basis: 240px;" alt="RAIC"></a>
        <a href="http://www.wiavancouver.org" target="_blank"><img src="/images/supporters/women-in-arch.png" style="flex-basis: 240px;" alt="Women In Architecture"></a>
        
      </div>
    </div>


    <div class="outer-container supporters">
      <h2 class="u-color-grey">Media Partners</h2>
      <div class="sponsors support-sm last">
        <a href="https://www.graymag.com" target="_blank"><img src="/images/supporters/Gray.png" alt="Gray"></a>
        <a href="http://westernliving.ca" target="_blank" style="flex-basis: 290px;" class="grow"><img src="/images/supporters/Western-Living.png" alt="Western Living"></a>
        <a href="http://scoutmagazine.ca" target="_blank"><img src="/images/supporters/Scout-Magazine.png" alt="Scout Magazine"></a>
        <a href="https://www.straight.com" target="_blank" style="flex-basis: 290px;"><img src="/images/supporters/straight.jpg" alt="Georgia Straight"></a>
        <a href="https://www.azuremagazine.com" target="_blank" class="shrink" style="flex-basis: 200px;"><img src="/images/supporters/azure.png" alt="Azure Magazine"></a>
      </div>
    </div>    

<!-- <div class="outer-container supporters last">
      <h1 class="u-color-grey">Friends of VDW</h1>
      <div class="support">
        <span class="supporter friend"><a href="http://www.heatherwritesstuff.com" alt="Heather Stoutenburg">Heather Stoutenburg</a></span>
      </div>
      <p class="become-a-sponsor">
        <a href="mailto:info@vancouverdesignwk.com?subject=Become A Friend of VDW">Become A Friend of VDW &gt;</a>
      </p>
    </div>
  </div>
 -->
</section>
