<section class="c-l-fw-container u-bg-white u-color-black">

  <div id="partners" class="c-l-container push-two large-push-four eight columns u-pt">
    <p>A huge thank to all of the following who have been early supporters - because of you Vancouver Design Week is possible!</p>
    <h1 class="u-color-grey">Leaders</h1>
<!--     <p class="become-a-sponsor"><a class="u-color-black" href="mailto:info@vancouverdesignwk.com?subject=Become A Leading Partner">Show Leadership! Become A Partner &gt;</a></p> -->
    <div class="support">
        <a href="http://www.raic.org" target="_blank" rel="noopener"><img src="/images/supporters/raic.png" alt="the RAIC"></a>
<!--         <a href="http://causeandaffect.com" target="_blank" rel="noopener"><img src="/images/supporters/cause-and-affect.png" alt="Cause+Affect"></a>
 -->        
        <a class="big-logo" href="http://denimandsteel.com" target="_blank" rel="noopener"><img src="/images/supporters/denim-and-steel.png" alt="Denim &amp; Steel"></a>
        <a href="http://hcma.ca" target="_blank" rel="noopener"><img src="/images/supporters/hcma.png" alt="HCMA Architecture + Design"></a>
        <a href="http://http://vancouver.ca/streets-transportation/reducing-cars-on-city-streets.aspx" target="_blank" rel="noopener"><img src="/images/supporters/viva.png" alt="Viva Vancouver"></a>
        <a href="http://gdc.net" target="_blank" rel="noopener"><img src="/images/supporters/gdc.png" alt="the GDC"></a>
        <a href="http://mg-architecture.ca" target="_blank" rel="noopener"><img src="/images/supporters/MGA.jpg" alt="Michael Green Architecture"></a>
        <a href="http://causeandaffect.com" target="_blank" rel="noopener"><img src="/images/supporters/cause-and-affect.png" alt="Cause+Affect"></a>
        <a href="http://roamingdragon.com" target="_blank" rel="noopener"><img src="/images/supporters/roaming-dragon.png" alt="Roaming Dragon"></a>


<!--         <a href="http://http://www.dialogdesign.ca" target="_blank" rel="noopener"><img src="/images/supporters/corplogo-dialog.jpg" alt="Dialog Design"></a>
        <a href="http://ecuad.ca" target="_blank" rel="noopener"><img src="/images/supporters/emily-carr.jpg" alt="Emily Carr University"></a>


        <a href="http://www.museumofvancouver.ca/programs/blog/tags/urbanarium" target="_blank" rel="noopener"><img src="/images/supporters/Urbanarium.png" alt="Urbanarium"></a>
        <a href="http://perkinswill.com" target="_blank" rel="noopener"><img src="/images/supporters/perkinsandwill.png" alt="Perkins+Will"></a>
 -->    
</div>

    <div class="supporters">
      <!-- <h1 class="u-color-grey">Community Partners</h1> -->
      <div class="support">
 <!--        <a href="http://www.contemporaryartgallery.ca" target="_blank" rel="noopener"><img src="/images/supporters/cag.png" alt="The Contemporary Art Gallery of Vancouver"></a>
        <a href="https://www.segd.org" target="_blank" rel="noopener"><img src="/images/supporters/SEGD-Logo.jpg" alt="SEGD"></a>
        <a href="http://vancouver.designnerds.org" target="_blank" rel="noopener"><img src="/images/supporters/vancouver-design-nerds.png" alt="the Vancouver Design Nerds"></a>
        <a href="http://denimandsteel.com" target="_blank" rel="noopener"><img src="/images/supporters/denim-and-steel.png" alt="Denim &amp; Steel"></a>
        <a href="http://makerlabs.ca" target="_blank" rel="noopener"><img src="/images/supporters/MakerLabs.png" alt="Maker Labs"></a>
        <a href="https://www.facebook.com/P4AVancouver" target="_blank" rel="noopener"><img src="/images/supporters/p4a.jpg" alt="Party for Architects Vancouver"></a>
        <a href="http://vancouverpublicspace.ca" target="_blank" rel="noopener"><img src="/images/supporters/vpsn.png" alt="the Vancouver Public Space Network"></a>
        <a href="http://elevatorstrategy.com" target="_blank" rel="noopener"><img src="/images/supporters/elevator.png" alt="Elevator Strategy"></a>
        <a href="http://www.museumofvancouver.ca/programs/blog/tags/urbanarium" target="_blank" rel="noopener"><img src="/images/supporters/Urbanarium.png" alt="Urbanarium"></a>
        <a href="http://thnk.org" target="_blank" rel="noopener"><img src="/images/supporters/thnk.png" alt="THNK School for Creative Leadership"></a>
        <a href="http://arrowhouse.ca" target="_blank" rel="noopener"><img src="/images/supporters/arrowhouse.jpg" alt="Arrowhouse"></a>
        <a href="http://briteweb.com" target="_blank" rel="noopener"><img src="/images/supporters/briteweblogo2.jpg" alt="Briteweb"></a>
        <a href="http://www.sala.ubc.ca/programs/architecture" target="_blank" rel="noopener"><img src="/images/supporters/sala.png" alt="The University of British Columbia School of Architecture and Landscape Architecture"></a>
        <img src="/images/supporters/maker_series_logo.jpg" alt="Maker Series"></a>
        <a href="http://www.meetup.com/Creative-Pulse-Casual-Events-for-Vancouver-Creatives/" target="_blank" rel="noopener"><img src="/images/supporters/CP.png" alt="Creative Pulse"></a>
        <a href="http://www.vancouvercustomfurniture.com" target="_blank" rel="noopener"><img src="/images/supporters/sholto.png" alt="Sholto Design Studio"></a>
        <a href="http://mainstreetbeer.ca" target="_blank" rel="noopener"><img src="/images/supporters/mainstreet.png" alt="Main Street Beer"></a>
        <a href="http://wp.evoke.ca" target="_blank" rel="noopener"><img src="/images/supporters/evoke.jpg" alt="Evoke International Design"></a>
        <a href="http://vanspecial.com" target="_blank" rel="noopener"><img src="/images/supporters/vancouver-special.png" alt="Vancouver Special"></a>
        <img src="/images/supporters/cc-logo-yoyo.jpg" alt="YoYo">
        <a href="http://www.lohavancouver.org" target="_blank" rel="noopener"><img src="/images/supporters/loha.png" alt="LoHA (the Laboratory for Housing Alternatives)"></a>
        <a href="http://www.industrialbrand.com" target="_blank" rel="noopener"><img src="/images/supporters/industrial-brand.png" alt="Industrial Brand"></a>
        <a href="http://www.maastudio.com" target="_blank" rel="noopener"><img src="/images/supporters/MAASWORDMARK.png" alt="Marianne Amodio Architecture Studio"></a>
        <a href="http://publicdesign.ca" target="_blank" rel="noopener"><img src="/images/supporters/Public-Logo.png" alt="Public"></a>
        <a href="http://creativemornings.com/cities/van" target="_blank" rel="noopener"><img src="/images/supporters/cm-fb-VAN.png" alt="Creative Mornings Vancouver"></a>
        <a href="http://http://www.alfieitalia.com" target="_blank" rel="noopener"><img src="/images/supporters/Alfie-Logo.jpg" alt="Alfie Italia"></a>
        <a href="http://ecuad.ca" target="_blank" rel="noopener"><img src="/images/supporters/emily-carr.jpg" alt="Emily Carr University"></a>
        <a href="http://www.raic.org" target="_blank" rel="noopener"><img src="/images/supporters/raic.png" alt="the RAIC"></a>
        <a href="http://beautulleful.com" target="_blank" rel="noopener"><img src="/images/supporters/Beautulleful.jpg" alt="Beautulleful"></a>
        <a href="http://http://www.aibc.ca" target="_blank" rel="noopener"><img src="/images/supporters/AIBC.jpg" alt="Architecture Institute of BC"></a>
        <a href="http://lululemon.com" target="_blank" rel="noopener"><img src="/images/supporters/yogaone.png" alt="Lululemon"></a>
        <a href="http://vancouver.ca" target="_blank" rel="noopener"><img src="/images/supporters/CoV.jpg" alt="City of Vancouver"></a> -->
      </div>
    </div>

       <div class="outer-container supporters">
      <h1 class="u-color-grey">Community Partners</h1>
      <div class="support">
        <a href="http://www.informinteriors.com/" target="_blank" rel="noopener"><img src="/images/supporters/inform-logo.png" alt="Inform Interiors"></a>
        <a href="https://www.facultybrewing.com" target="_blank" rel="noopener"><img src="/images/supporters/faculty.png" alt="Faculty Brewing Co"></a>
      </div>
    </div>


    <div class="outer-container supporters">
      <h1 class="u-color-grey">Industry Partners</h1>
      <div class="support">
        <a href="http://www.maastudio.com" target="_blank" rel="noopener"><img src="/images/supporters/MAASWORDMARK.png" alt="Marianne Amodio Architecture Studio"></a>
        <a href="http://carscadden.ca" target="_blank" rel="noopener"><img src="/images/supporters/carscadden.png" alt="Carscadden Stokes McDonald Architects"></a>
        <a href="http://www.heatherwritesstuff.com" target="_blank" rel="noopener"><img src="/images/supporters/Heather-Stoutenburg.png" alt="Heather Stoutenburg"></a>
        <a href="" rel="noopener"><img src="/images/supporters/Colin-Campbell.png" alt="Colin Campbell"></a>

<!--         <a href="http://www.contemporaryartgallery.ca" target="_blank" rel="noopener"><img src="/images/supporters/cag.png" alt="The Contemporary Art Gallery of Vancouver"></a>
        <a href="https://www.segd.org" target="_blank" rel="noopener"><img src="/images/supporters/SEGD-Logo.jpg" alt="SEGD"></a>
        <a href="http://vancouver.designnerds.org" target="_blank" rel="noopener"><img src="/images/supporters/vancouver-design-nerds.png" alt="the Vancouver Design Nerds"></a>
        <a href="http://denimandsteel.com" target="_blank" rel="noopener"><img src="/images/supporters/denim-and-steel.png" alt="Denim &amp; Steel"></a>
        <a href="http://makerlabs.ca" target="_blank" rel="noopener"><img src="/images/supporters/MakerLabs.png" alt="Maker Labs"></a>
        <a href="https://www.facebook.com/P4AVancouver" target="_blank" rel="noopener"><img src="/images/supporters/p4a.jpg" alt="Party for Architects Vancouver"></a>
        <a href="http://gdc.net" target="_blank" rel="noopener"><img src="/images/supporters/gdc.png" alt="the GDC"></a>
        <a href="http://vancouverpublicspace.ca" target="_blank" rel="noopener"><img src="/images/supporters/vpsn.png" alt="the Vancouver Public Space Network"></a>
        <a href="http://elevatorstrategy.com" target="_blank" rel="noopener"><img src="/images/supporters/elevator.png" alt="Elevator Strategy"></a>
        <a href="http://www.museumofvancouver.ca/programs/blog/tags/urbanarium" target="_blank" rel="noopener"><img src="/images/supporters/Urbanarium.png" alt="Urbanarium"></a>
        <a href="http://carscadden.ca" target="_blank" rel="noopener"><img src="/images/supporters/bca.png" alt="Bruce Carscadden Architect"></a>
        <a href="http://thnk.org" target="_blank" rel="noopener"><img src="/images/supporters/thnk.png" alt="THNK School for Creative Leadership"></a>
        <a href="http://arrowhouse.ca" target="_blank" rel="noopener"><img src="/images/supporters/arrowhouse.jpg" alt="Arrowhouse"></a>
        <a href="http://briteweb.com" target="_blank" rel="noopener"><img src="/images/supporters/briteweblogo2.jpg" alt="Briteweb"></a>
        <a href="http://www.sala.ubc.ca/programs/architecture" target="_blank" rel="noopener"><img src="/images/supporters/sala.png" alt="The University of British Columbia School of Architecture and Landscape Architecture"></a>
        <a href="http://vancouverisawesome.com/category/vancouver-bc-designers/" target="_blank" rel="noopener"><img src="/images/supporters/maker_series_logo.jpg" alt="Maker Series"></a>
        <a href="http://www.meetup.com/Creative-Pulse-Casual-Events-for-Vancouver-Creatives/" target="_blank" rel="noopener"><img src="/images/supporters/CP.png" alt="Creative Pulse"></a>
        <a href="http://www.vancouvercustomfurniture.com" target="_blank" rel="noopener"><img src="/images/supporters/sholto.png" alt="Sholto Design Studio"></a>
        <a href="http://mainstreetbeer.ca" target="_blank" rel="noopener"><img src="/images/supporters/mainstreet.png" alt="Main Street Beer"></a>
        <a href="http://wp.evoke.ca" target="_blank" rel="noopener"><img src="/images/supporters/evoke.jpg" alt="Evoke International Design"></a>
        <a href="http://vanspecial.com" target="_blank" rel="noopener"><img src="/images/supporters/vancouver-special.png" alt="Vancouver Special"></a>
        <img src="/images/supporters/cc-logo-yoyo.jpg" alt="YoYo">
        <a href="http://www.lohavancouver.org" target="_blank" rel="noopener"><img src="/images/supporters/loha.png" alt="LoHA (the Laboratory for Housing Alternatives)"></a>
        <a href="http://www.industrialbrand.com" target="_blank" rel="noopener"><img src="/images/supporters/industrial-brand.png" alt="Industrial Brand"></a>
        <a href="http://www.maastudio.com" target="_blank" rel="noopener"><img src="/images/supporters/MAASWORDMARK.png" alt="Marianne Amodio Architecture Studio"></a>
        <a href="http://publicdesign.ca" target="_blank" rel="noopener"><img src="/images/supporters/Public-Logo.png" alt="Public"></a>
        <a href="http://creativemornings.com/cities/van" target="_blank" rel="noopener"><img src="/images/supporters/cm-fb-VAN.png" alt="Creative Mornings Vancouver"></a>
        <a href="http://http://www.alfieitalia.com" target="_blank" rel="noopener"><img src="/images/supporters/Alfie-Logo.jpg" alt="Alfie Italia"></a>
        <a href="http://ecuad.ca" target="_blank" rel="noopener"><img src="/images/supporters/emily-carr.jpg" alt="Emily Carr University"></a>
        <a href="http://www.raic.org" target="_blank" rel="noopener"><img src="/images/supporters/raic.png" alt="the RAIC"></a>
        <a href="http://beautulleful.com" target="_blank" rel="noopener"><img src="/images/supporters/Beautulleful.jpg" alt="Beautulleful"></a>
        <a href="http://http://www.aibc.ca" target="_blank" rel="noopener"><img src="/images/supporters/AIBC.jpg" alt="Architecture Institute of BC"></a>
        <a href="http://lululemon.com" target="_blank" rel="noopener"><img src="/images/supporters/yogaone.png" alt="Lululemon"></a>
        <a href="http://vancouver.ca" target="_blank" rel="noopener"><img src="/images/supporters/CoV.jpg" alt="City of Vancouver"></a> -->
      </div>
    </div>


        <div class="outer-container supporters">
      <h1 class="u-color-grey">Media Partners</h1>
      <div class="support">
        <a class="big-logo" href="http://www.graymag.net" target="_blank" rel="noopener"><img src="/images/supporters/gray.jpg" alt="Gray Magazine "></a>
        <a href="http://www.straight.com" target="_blank" rel="noopener"><img src="/images/supporters/straight.jpg" alt="Georgia Straight"></a>
        <a href="http://vancouverisawesome.com" target="_blank" rel="noopener"><img src="/images/supporters/via.png" alt="Vancouver Is Awesome"></a>

        <!--           <a href="http://www.westernlivingmagazine.com" target="_blank" rel="noopener"><img src="/images/supporters/WL_LogoMagazineBlack_small.jpg" alt="Western Living Magazine"></a>
        <a href="http://spacing.ca/vancouver" target="_blank" rel="noopener"><img src="/images/supporters/spacingvan.jpg" alt="Spacing Vancouver"></a>
        <a href="http://www.tourismvancouver.com" target="_blank" rel="noopener"><img src="/images/supporters/tourismvan.jpg" alt="Tourism Vancouver"></a> -->
      </div>
    </div>

<!-- <div class="outer-container supporters last">
      <h1 class="u-color-grey">Friends of VDW</h1>
      <div class="support">
        <span class="supporter friend"><a href="http://www.heatherwritesstuff.com" alt="Heather Stoutenburg">Heather Stoutenburg</a></span>
      </div>
      <p class="become-a-sponsor">
        <a href="mailto:info@vancouverdesignwk.com?subject=Become A Friend of VDW">Become A Friend of VDW &gt;</a>
      </p>
    </div>
  </div>
 -->
</section>