<section class="c-l-fw-container u-bg-white u-color-black u-pr--xs u-pl--xs">

  <div id="partners" class="c-l-container push-two large-push-four eight columns u-pt">
    <p>A huge thank to all of the following who have been early supporters - because of you Vancouver Design Week is possible!</p>
    <h1 class="u-color-pink">Sponsors</h1>

<!--     <p class="become-a-sponsor"><a class="u-color-black" href="mailto:info@vancouverdesignwk.com?subject=Become A Leading Partner">Show Leadership! Become A Partner &gt;</a></p> -->
    <h2 class="u-color-grey">Leadership</h2>
    <div class="sponsors support center">
      <a href="https://risekombucha.com" target="_blank"><img src="/images/Rise.png" alt="Rise"></a>
      <a href="http://www.vancouver.bulthaup.com/en" target="_blank" class="grow"><img src="/images/Bulthaup.png" alt="Bulthaup"></a>
    </div>

    <h2 class="u-color-grey">Visionary</h2>
    <div class="sponsors support">
      <a href="" target="_blank"><img src="/images/Bocci.png" alt="Bocci"></a>
      <a href="http://ecuad.ca" target="_blank" class="grow"><img src="/images/Emily-Carr.png" alt="Emily Carr"></a>
    </div>

    <div class="outer-container supporters">
      <h2 class="u-color-grey">Community</h2>
      <div class="sponsors support-small">
        <a href="" target="_blank" class="grow"><img src="/images/CAPU.png" alt="Capilano University"></a>
        <a href="http://hcma.ca" target="_blank"><img src="/images/HCMA.png" alt="HCMA"></a>
      </div>
    </div>

    <div class="outer-container supporters">
      <h2 class="u-color-grey">Industry Partners</h2>
      <div class="sponsors industry">
        <a href="http://denimandsteel.com" alt="" target="_blank"><img src="/images/D+S.png" alt="Denim & Steel"></a>
        <a href="http://causeandaffect.com" alt="" target="_blank"><img src="/images/C+A.png" alt="Cause + Effect"></a>
      </div>
      <div class="sponsors support">
        <a href="" alt="" target="_blank"><img src="/images/Joda.png" alt="Joda Creative"></a>
        <a href="" alt="" target="_blank"><img src="/images/Picatic.png" alt="Picatic"></a>
      </div>
    </div>

    <h2 class="u-color-grey">Media Partners</h2>
    <div class="sponsors support-small">
      <a href="" alt="" target="_blank"><img src="/images/Gray.png" alt="Gray"></a>
      <a href="" alt="" target="_blank" class="grow"><img src="/images/Western-Living.png" alt="Western Living"></a>
    </div>

<!-- <div class="outer-container supporters last">
      <h1 class="u-color-grey">Friends of VDW</h1>
      <div class="support">
        <span class="supporter friend"><a href="http://www.heatherwritesstuff.com" alt="Heather Stoutenburg">Heather Stoutenburg</a></span>
      </div>
      <p class="become-a-sponsor">
        <a href="mailto:info@vancouverdesignwk.com?subject=Become A Friend of VDW">Become A Friend of VDW &gt;</a>
      </p>
    </div>
  </div>
 -->
</section>
