<section id="team" class="c-l-container u-pt--l u-pb">
  <div class="twelve columns">
    <h1 class="u-pr--xs u-pl--xs">VDW Organizing Team</h1>
    <div class="u-flexbox">
     <div class="c-member-card twelve md-six lg-four columns">
        <img src="/images/team/annal.jpg" alt="Anna Lambert">
        <div class="c-member-card__content">
          <h4>Anna Lambert / Programming Director</h4>
          <p>Anna is a freelance marketing specialist and event manager with a soft spot for details, design and order.</p>
      </div>
      </div>

        <img src="/images/team/Jane_headshot.jpg" alt="Jane Cox">
        <div class="c-member-card__content">
          <h4>Jane Cox / VDF Director / Sponsorships</h4>
          <p>Principal of Cause+Affect, a strategic brand and communications consultancy, Jane’s inquisitive mind uncovers and connects the nuances hidden within organizations to shape successful strategy and opportunity. She is a recognized leader in culture building, social entrepreneurship, and civic engagement. Her clients benefit from her extensive cross-sectoral insight and ability to translate strategic objectives into compelling brands and initiatives that inspire, connect and drive impact.</p>
        </div>
      </div>

        <img src="/images/team/jc.png" alt="Jennifer Cutbill">
        <div class="c-member-card__content">
          <h4>Jennifer Cutbill / VDF Board / Advisor</h4>
          <p>Jennifer is an Architect at Local Practice, and Regional Director with the Royal Architecture Institute of Canada (RAIC). She is passionate about empowering design’s incredible potential for positive change.</p>
        </div>
      </div>
      
      <div class="c-member-card twelve md-six lg-four columns">
        <img src="/images/team/harry.jpg" alt="Harry Olson">
        <div class="c-member-card__content">
          <h4>Harry Olson / VDF Board / Activations Coordinator</h4>
          <p>Harry is a passionately broad-minded thinker who never loses sight of the big picture but lives for the details that make cities, organizations, and people tick. His visual communication practice is rooted in producing brands that connect people, products, and place.</p>
        </div>
      </div>

      <div class="c-member-card twelve md-six lg-four columns">
        <img src="/images/team/tylor_cropped.jpg" alt="Tylor Sherman">
        <div class="c-member-card__content">
          <h4>Tylor Sherman / VDF Board / Web</h4>
          <p>Tylor is a creative technologist and co-founder at Denim &amp; Steel. An engineer by training, he designs unique software for a people-focused future.</p>
        </div>
      </div>

      <div class="c-member-card twelve md-six lg-four columns">
        <img src="/images/team/todd.jpg" alt="Todd Sieling">
        <div class="c-member-card__content">
          <h4>Todd Sieling / VDF Board / Strategy + Web</h4>
          <p>Todd is a UX designer and co-founder of Denim &amp; Steel Interactive where he strives to bring a humane sensibility to the cool edge of digital technology.</p>
        </div>
      </div>


<!--       <div class="c-member-card twelve md-six lg-four columns">
        <img src="/images/team/sean.jpg" alt="Sean Durfee">
        <div class="c-member-card__content">
          <h4>Sean Durfee / Graphic + Web</h4>
          <p>Sean is a web, product, and graphic designer with a background in international relations. He is constantly striving to find humble solutions to complex problems.</p>
        </div>
      </div> -->



<!--       <div class="c-member-card twelve md-six lg-four columns">
        <img src="/images/team/nicole.jpg" alt="Nicole Kapalungan">
        <div class="c-member-card__content">
          <h4>Nichole Kapalungan / Copywriter</h4>
          <p>Nichole is a communications coordinator with a background in literature and arts and culture studies. With a feverish love of film, she comes packaged with celluloid dreams.</p>
        </div>
      </div> -->


<!--       <div class="c-member-card twelve md-six lg-four columns">
        <img src="/images/team/matej.jpg" alt="Matej Rodela">
        <div class="c-member-card__content">
          <h4>Matej Rodela / Media Coordinator</h4>
          <p>Matej is a media studies graduate who has spent a reasonable number of years working in the media. Tired of the oldskul mentality of his bosses, he dived into the world of design thinking, service design, product design, and business.
          </p>
        </div>
      </div> -->

<!--       <div class="c-member-card twelve md-six lg-four columns">
        <img src="/images/team/alisa.jpg" alt="Alisa Layne">
        <div class="c-member-card__content">
          <h4>Alisa Layne / Social Media + Design</h4>
          <p>Alisa is a graphic designer who loves all aspects of art, design, and aesthetics. She endeavors to demonstrate meaning though simplicity and beauty through complexity.
          </p>
        </div>
      </div> -->

      <div class="c-member-card twelve md-six lg-four columns">
        <img src="/images/team/geoff.jpg" alt="Geoff Ravenor">
        <div class="c-member-card__content">
          <h4>Geoff Ravenor / Brand and Graphics</h4>
          <p>Geoff bio</p>
        </div>
      </div>

        <img src="/images/team/annah.jpg" alt="Anna Horvath">
        <div class="c-member-card__content">
          <h4>Anna Horvath / Sponsorship Coordinator</h4>
          <p>As a fundraising strategist, Anna works to foster philanthropic support and partnerships for non-profit organizations.</p>
        </div>
      </div>


        <img src="/images/team/natalia.jpg" alt="Natalia Kwasnicki">
        <div class="c-member-card__content">
          <h4>Natalia Kwasnicki / Editions Coordinator</h4>
          <p>Natalia is an interior designer with an art history background. She has a passion for using spaces to bring people together and bringing various channels of design together.
          </p>
        </div>
      </div>

        <img src="/images/team/placeholder2.jpg" alt="Sint Moe">
        <div class="c-member-card__content">
          <h4>Sint Moe / Coordinator</h4>
          <p>SINT NEEDS A BIO</p>
        </div>
      </div>

        <img src="/images/team/placeholder2.jpg" alt="Pablo Leppe">
        <div class="c-member-card__content">
          <h4>Pablo Leppe/ Design Spaces and Landmarks Coordinator</h4>
          <p>Pablo is a registered architect, inspired by his travels and living abroad to design better local communities. Pablo is a member of the Whistler Advisory Design Panel and holds a masters in Architecture from the University of Waterloo.</p>
        </div>
      </div>


        <img src="/images/team/placeholder2.jpg" alt="Alison Gray">
        <div class="c-member-card__content">
          <h4>Alison Gray / Volunteer Coordinator</h4>
          <p>ALISON NEEDS A BIO</p>
        </div>
      </div>

        <img src="/images/team/tom.jpg" alt="Tom Finkle">
        <div class="c-member-card__content">
          <h4>Tom Finkle / Social Media Coordinator</h4>
          <p>TOM NEEDS A BIO</p>
        </div>
      </div>
  </div>
</section>