<article class="c-l-container u-pt--l u-pb">
  <section id="team" class="twelve columns">
    <h1>The VDW Organizing Team</h1>
    <div class="u-flexbox">
      <div class="c-member-card u-flex">
        <img src="/images/team/jc.jpg" alt="Jennifer Cutbill">
        <div class="c-member-card__content">
          <h2>Jennifer Cutbill / Director</h2>
          <p>Jennifer is an Intern Architect at DIALOG, passionate about leveraging lateral thinking and empowering design agency. She is also a SALA mentor and guest critic; Advocacy Committee co-Chair at the local Chapter of Architecture Canada, founding Board member of the Laboratory of Housing Alternatives (LoHA), and a retired thai boxing champion.</p>
        </div>
      </div>
      <div class="c-member-card u-flex">
        <img src="/images/team/todd.jpg" alt="Todd Sieling">
        <div class="c-member-card__content">
          <h2>Todd Sieling / Web + Interactive</h2>
          <p>Todd is an interaction designer and co-founder of Denim &amp; Steel Interactive. Informed by his background in the humanities, he strives to bring a humane sensibility to the cool edge of digital technology. Outside of work, Todd explores the urban landscape through the dual lenses of cycling and coffee.</p>
        </div>
      </div>
      <div class="c-member-card u-flex">
        <img src="/images/team/harry.jpg" alt="Harry Olson">
        <div class="c-member-card__content">
          <h2>Harry Olson / Open Buildings Coordinator</h2>
          <p>A coastal creative from Vancouver to Halifax, Harry is a communication designer and brand strategist at PUBLIC. Harry believes in fostering creativity through conversation and collaboration.</p>
        </div>
      </div>
      <div class="c-member-card u-flex">
        <img src="/images/team/htopley-18.jpg" alt="Heather Topley">
        <div class="c-member-card__content">
          <h2>Heather Topley / Marketing</h2>
          <p>Accomplished Marketing Consultant with 10 years experience in sales, brand development & global marketing. With an honours degree in commerce specializing in Marketing & International Business and a high level of emotional intelligence, I specialize in marketing strategy & building relationships.</p>
        </div>
      </div>
<!--       <div class="c-member-card u-flex">
        <img src="/images/team/Kristina.jpg" alt="Kristina Kassay">
        <div class="c-member-card__content">
          <h2>KRISZTINA KASSAY / Event Assistant</h2>
          <p>Urban Planner KrisZtina is passionate about transformative spaces and the intersections between design
          and the public. She is a coordinating force within public space designs that enliven and invigorate our city.</p>
        </div>
      </div>
      <div class="c-member-card u-flex">
        <img src="/images/team/shelley.jpg" alt="Shelley Craig">
        <div class="c-member-card__content">
          <h2>Shelley Craig</h2>
          <p>Shelley Craig holds degrees in Environmental Studies (Architecture) and Architecture, and is a recipient of the Bernard Webb Scholarship.</p>
        </div>
      </div> -->

      <div class="c-member-card u-flex">
        <img src="/images/team/Jane_headshot.jpg" alt="Jane Cox">
        <div class="c-member-card__content">
          <h2>Jane Cox / Co-Director</h2>
          <p>Jane Cox, the Executive Director of FUEL and Co-founder of Cause+Affect and PechaKucha Vancouver, is a creative catalyst and strategist helping &ldquo;good&rdquo; businesses and organizations define their culture and grow their communities. She loves her nature/urban/mother/career woman lifestyle.</p>
        </div>
      </div>
      <div class="c-member-card u-flex">
        <img src="/images/team/tylor_cropped.jpg" alt="Tylor Sherman">
        <div class="c-member-card__content">
          <h2>Tylor Sherman / Web + Interactive</h2>
          <p>Tylor is a creative technologist and co-founder at Denim &amp; Steel. An engineer by training, he designs unique software for a people-focused future.</p>
        </div>
      </div>
<!--       <div class="c-member-card u-flex">
        <img src="/images/team/ZachBulick.jpg" alt="Zach Bulick">
        <div class="c-member-card__content">
          <h2>Zach Bulick / Open Studios Coordinator</h2>
          <p>Zach is a Canadian Texan hybrid who has been designing in Vancouver since 2009. He loves people, tacos, and making. He's proud to have helped start Vancouver&rsquo;s first Tool Library and Trade School Vancouver. Zach is passionate about serving the underserved and engaging problems and social issues with sustainable creative solutions.</p>
        </div>
      </div>
      <div class="c-member-card u-flex">
        <img src="/images/team/nadia.jpg" alt="Nadia Nascimento">
        <div class="c-member-card__content">
          <h2>Nadia Nascimento</h2>
          <p>Nadia is a strategist and digital producer, with 10 years experience in marketing and production. She has developed and implemented socially-driven media campaigns for Fortune 50 brands and has been the acting Director of Marketing for (RED) and THNK School for Creative Leadership.</p>
        </div>
      </div>
      <div class="c-member-card u-flex">
        <img src="/images/team/Kourosh.jpg" alt="Kourosh Mahvash">
        <div class="c-member-card__content">
          <h2>Kourosh Mahvash / Volunteer Coordinator</h2>
          <p>Kourosh is a sustainability consultant and educator with over 11 years of experience in both academia and practice. Having been trained in architecture and interdisciplinary design, he has been involved in various design and research projects in both academia and practice.</p>
        </div>
      </div> -->

<!--       <div class="c-member-card u-flex">
        <img src="/images/team/MarkBusse.jpg" alt="Mark Busse">
        <div class="c-member-card__content">
          <h2>Mark Busse / Connector</h2>
          <p>Mark owns Industrial Brand, a Vancouver-based brand strategy &amp; communication design consultancy that helps built-environment professionals realize their brand and marketing potential. He's also a Fellow and past president of the Graphic Designers of Canada, has been known to write &amp; teach about design, and co-founded Foodists.ca.</p>
        </div>
      </div>
      <div class="c-member-card u-flex">
        <img src="/images/team/CarlingBorne.jpg" alt="Carling Borne">
        <div class="c-member-card__content">
          <h2>Carling Borne / Graphic Design</h2>
          <p>Carling is a designer at Cause+Affect, having worked with a variety of clients ranging from multinationals to small independent gems. While her passion lies in brand and print, she is equally skilled in digital and scribbling.</p>
        </div>
      </div>
      <div class="c-member-card u-flex">
        <img src="/images/team/Jessica.jpg" alt="Jessica Hum">
        <div class="c-member-card__content">
          <h2>Jessica Hum / Community Engagement</h2>
          <p>Jessica is a community development and communications professional with a background in Urban and Regional Planning. Based in her community development experience, she has designed multi-staged community engagement processes to reach the broadest cross section of the public, using online and face-to-face touchpoints.</p>
        </div>
      </div> -->
      <div class="c-member-card u-flex">
        <img src="/images/team/alvina.jpg" alt="Jessica Hum">
        <div class="c-member-card__content">
          <h2>Alvina Quek / Block Party Coordinator</h2>
          <p>Alvina is an Event Designer &amp; Producer. Creating experiences that you cannot wait to tell somebody about is what she is constantly dreaming up. She does this by making you look twice...at what was previously ordinary - big and complex into simple and gorgeous. Travel, her next delicious taste bud explosion and design fuel her quiet revolution of events that wow.</p>
        </div>
      </div>
      <!-- <div class="c-member-card u-flex">
        <img src="/images/team/Sarah.jpg" alt="Sarah Bjornson">
        <div class="c-member-card__content">
          <h2>Sarah Bjornson / Samplings Coordinator</h2>
          <p>Sarah Bjornson is a long-time DIALOG team member who has grown from an Intern Architect into a registered Architect. She has contributed to numerous projects including University of Calgary Student Residences, Little Flower Academy, Chilliwack High School and the Waterstone Pier.</p>
        </div>
      </div> -->
  </section>
</article>