<section id="team" class="c-l-container u-pt--l u-pb">
  <div class="twelve columns">
    <h1 class="u-pr--xs u-pl--xs">The VDWknd Organizing Team</h1>
    <div class="u-flexbox">
      <div class="c-member-card twelve md-six lg-four columns">
        <img src="/images/team/jc.jpg" alt="Jennifer Cutbill">
        <div class="c-member-card__content">
          <h4>Jennifer Cutbill / Director</h4>
          <p>Jennifer is an Intern Architect at DIALOG, passionate about leveraging lateral thinking and empowering design agency. She is also a SALA mentor and guest critic; Advocacy Committee co-Chair at the local Chapter of Architecture Canada, founding Board member of the Laboratory of Housing Alternatives (LoHA), and a retired thai boxing champion.</p>
        </div>
      </div>
      <div class="c-member-card twelve md-six lg-four columns">
        <img src="/images/team/todd.jpg" alt="Todd Sieling">
        <div class="c-member-card__content">
          <h4>Todd Sieling / Web + Interactive</h4>
          <p>Todd is an interaction designer and co-founder of Denim &amp; Steel Interactive. Informed by his background in the humanities, he strives to bring a humane sensibility to the cool edge of digital technology. Outside of work, Todd explores the urban landscape through the dual lenses of cycling and coffee.</p>
        </div>
      </div>
      <div class="c-member-card twelve md-six lg-four columns">
        <img src="/images/team/harry.jpg" alt="Harry Olson">
        <div class="c-member-card__content">
          <h4>Harry Olson / Open Studios Coordinator</h4>
          <p>A coastal creative from Vancouver to Halifax, Harry is a communication designer and brand strategist at PUBLIC. Harry believes in fostering creativity through conversation and collaboration.</p>
        </div>
      </div>

      <div class="c-member-card twelve md-six lg-four columns">
        <img src="/images/team/tylor_cropped.jpg" alt="Tylor Sherman">
        <div class="c-member-card__content">
          <h4>Tylor Sherman / Web + Interactive</h4>
          <p>Tylor is a creative technologist and co-founder at Denim &amp; Steel. An engineer by training, he designs unique software for a people-focused future.</p>
        </div>
      </div>

      <div class="c-member-card twelve md-six lg-four columns">
        <img src="/images/team/sean.jpg" alt="Sean Durfee">
        <div class="c-member-card__content">
          <h4>Sean Durfee / Graphic + Web Designer</h4>
          <p>Sean is a web, product, and graphic designer with a background in international relations. He is constantly striving to find humble solutions to complex problems.</p>
        </div>
      </div>
  </div>
</section>