@import "neat/neat-helpers";

// $small-screen: new-breakpoint(max-width 68em 12);
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
$retina-filename: "@2x";
// $visual-grid: true;
