* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, h1, h2, h3, ul, p, input, blockquote, cite {
  font-family: 'Lekton', sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 23.44px;
  text-transform: uppercase; }

body {
  color: #292826;
  background: #f2f9ff;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  transition: background 1s ease-out; }
  body svg path {
    -webkit-transition: fill 1s ease-out;
    -moz-transition: fill 1s ease-out;
    transition: fill 1s ease-out; }
  body.hero {
    background: #7d7d7d; }
    body.hero svg path {
      fill: #00ab77; }
  body.event {
    background: #f1ed5d; }
    body.event svg path {
      fill: #000000; }
  body.team svg path {
    fill: #f4c5b5; }
  body.faq svg path {
    fill: #2e3192; }
  body.about svg path {
    fill: #f74715; }
  body.quotes svg path {
    fill: #D6D3C5; }
  body.get-involved svg path {
    fill: #00A778; }
  body.support-tiers svg path {
    fill: #ABE9D7; }

.background {
  z-index: -3;
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
  top: 0;
  left: 0; }
  .background svg {
    width: 100%;
    height: 100%;
    display: block; }

section, .section {
  margin: 50px 0;
  padding: 50px 0;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section:before, section:after, .section:before, .section:after {
    content: " ";
    display: table; }
  section:after, .section:after {
    clear: both; }

h1, h2, h3 {
  font-weight: bold; }
  h1.feature, h2.feature, h3.feature {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 60px 0; }
    @media screen and (max-width: 480px) {
      h1.feature, h2.feature, h3.feature {
        padding-left: 20px;
        padding-right: 20px; } }

@media screen and (max-width: 480px) {
  ul, p, input {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; } }

blockquote {
  font-weight: bold;
  margin: 0;
  display: inline;
  color: white;
  background: #3C65DF;
  font-size: 22px;
  line-height: 30px; }

cite {
  display: block;
  color: #3C65DF;
  font-style: normal;
  font-weight: bold; }

@-webkit-keyframes bump {
  0% {
    -webkit-transform: translateY(0px); }

  50% {
    -webkit-transform: translateY(-5px); }

  100% {
    -webkit-transform: translateY(0px); } }
@-moz-keyframes bump {
  0% {
    -moz-transform: translateY(0px); }

  50% {
    -moz-transform: translateY(-5px); }

  100% {
    -moz-transform: translateY(0px); } }
@-o-keyframes bump {
  0% {
    -o-transform: translateY(0px); }

  50% {
    -o-transform: translateY(-5px); }

  100% {
    -o-transform: translateY(0px); } }
@keyframes bump {
  0% {
    transform: translateY(0px); }

  50% {
    transform: translateY(-5px); }

  100% {
    transform: translateY(0px); } }
a.highlight, input.highlight {
  font-weight: bold;
  text-decoration: none;
  padding: 11px 28px 10px;
  cursor: pointer;
  color: white;
  background: #f74715; }
  a.highlight:hover, input.highlight:hover {
    -webkit-animation: bump 250ms ease-out;
    -moz-animation: bump 250ms ease-out;
    animation: bump 250ms ease-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1; }

a {
  color: inherit; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 0;
  padding: 5px 10px 3px;
  border: 1px solid black;
  border-radius: 0; }
  input[type="email"] {
    margin-right: 10px;
    width: 250px;
    outline: none; }
  input[type='submit'] {
    border: 0; }

#hero .mission, .members .member, .faqs, #about .box, #get-involved .column .box, #support-tiers .tier {
  background: #f2f9ff;
  color: black; }
  #hero .mission img, .members .member img, .faqs img, #about .box img, #get-involved .column .box img, #support-tiers .tier img {
    width: 100%;
    height: auto; }
  #hero .mission .content, .members .member .content, .faqs .content, #about .box .content, #get-involved .column .box .content, #support-tiers .tier .content {
    padding: 0 10px; }
    #hero .mission .content p, .members .member .content p, .faqs .content p, #about .box .content p, #get-involved .column .box .content p, #support-tiers .tier .content p {
      text-transform: none; }
  #hero .mission .highlight, .members .member .highlight, .faqs .highlight, #about .box .highlight, #get-involved .column .box .highlight, #support-tiers .tier .highlight {
    display: block;
    width: 100%;
    text-align: center; }

.logo {
  background: url(../images/logo.svg) top left no-repeat;
  width: 408.36px;
  height: 144px;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  top: 80px;
  left: -35px; }
  .logo.fixed {
    position: fixed;
    z-index: -4; }
  @media screen and (max-width: 768px) {
    .logo.fixed {
      display: none; } }
  @media screen and (max-width: 480px) {
    .logo {
      width: 314.12308px;
      height: 110.76923px;
      background-size: 314.12308px 110.76923px;
      top: 50px; } }

header {
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 0px 0px 20px;
  line-height: 16px;
  z-index: 2; }
  @media screen and (max-width: 480px) {
    header {
      display: none; } }
  header h1 {
    line-height: 16px;
    padding: 18px 0;
    margin: 0;
    float: left; }
    @media screen and (max-width: 900px) {
      header h1 span {
        display: none; } }
  header span {
    color: #7d7d7d; }
  header nav {
    float: right;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out; }
    @media screen and (max-width: 480px) {
      header nav {
        display: none; } }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  header li {
    float: left; }
  header a {
    font-weight: bold;
    text-decoration: none;
    color: #7d7d7d;
    padding: 15px 15px;
    display: block; }
    @media screen and (max-width: 768px) {
      header a {
        padding-left: 8px;
        padding-right: 8px; } }
    header a:hover, header a.highlight {
      color: white;
      background: #f74715; }
    header a.highlight {
      padding: 15px 25px; }
  header form {
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px); }
    header form input.highlight {
      padding: 15px 25px; }
  header.form-active nav {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px); }
  header.form-active form {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

#hero {
  color: white;
  background: url(../images/VDW_web_bg1.jpg) center center;
  background-size: cover;
  position: relative;
  padding-bottom: 25px; }
  @media screen and (max-width: 480px) {
    #hero {
      padding-bottom: 0; } }
  @media screen and (max-width: 480px) {
    #hero .section {
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 0; } }
  #hero h1 {
    margin-top: 150px;
    padding: 5px;
    color: black;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    #hero h1:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      #hero h1 {
        display: block;
        float: left;
        margin-right: 7.42297%;
        width: 100%;
        margin-left: 0%;
        font-size: 18px; }
        #hero h1:last-child {
          margin-right: 0; } }
  #hero .mission {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    margin-top: 20px;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    padding: 0 10px 10px; }
    #hero .mission:last-child {
      margin-right: 0; }

#event .event {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-size: cover;
  background-position: center center;
  min-height: 200px;
  position: relative;
  margin-bottom: 17px;
  padding: 0 5px; }
  #event .event:last-child {
    margin-right: 0; }
  #event .event:nth-child(4n) {
    margin-right: 0; }
  #event .event:nth-child(4n+1) {
    clear: left; }
  @media screen and (max-width: 768px) {
    #event .event {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 48.21067%; }
      #event .event:last-child {
        margin-right: 0; }
      #event .event:nth-child(2n) {
        margin-right: 0; }
      #event .event:nth-child(2n+1) {
        clear: left; } }
#event h2 {
  position: absolute;
  bottom: 0;
  margin: 0;
  color: white;
  font-size: 20px; }

.members {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .members:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .members {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%; }
      .members:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .members .member {
      margin-bottom: 10px; } }

#faq .feature {
  color: white; }
  #faq .feature span {
    background: #2e3192; }

.faqs {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .faqs:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .faqs {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%; }
      .faqs:last-child {
        margin-right: 0; } }

#about .box {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  #about .box:last-child {
    margin-right: 0; }
#about .second {
  margin-top: 25px; }

#quotes .after {
  margin-bottom: 25px; }

#get-involved .column {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #get-involved .column:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #get-involved .column {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%; }
      #get-involved .column:last-child {
        margin-right: 0; } }
  #get-involved .column .box {
    margin: 5px 0;
    padding-top: 1px; }
    @media screen and (max-width: 768px) {
      #get-involved .column .box {
        margin-bottom: 10px; } }

#support-tiers .tier {
  min-height: 410px;
  padding-bottom: 60px;
  position: relative;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  #support-tiers .tier .highlight {
    position: absolute;
    bottom: 0; }
  #support-tiers .tier:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #support-tiers .tier {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%;
      min-height: 0; }
      #support-tiers .tier:last-child {
        margin-right: 0; } }

#supporter .feature {
  color: #7d7d7d; }

.support {
  background: white;
  margin: 10px 0; }
  .support h2 {
    padding: 10px 10px 0; }
  .support img {
    width: 23%;
    height: auto;
    padding: 2%;
    margin: 1%;
    background: white; }
    @media screen and (max-width: 480px) {
      .support img {
        width: 48%; } }
  .support.platinum {
    background: #e1e1e1; }
  .support.gold {
    background: #a38a66; }
  .support.silver {
    background: #a6a9aa; }
  .support.double-silver {
    background: #95653e; }

#contact .details {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  background: white;
  color: black;
  padding: 10px 20px 20px;
  border: 10px solid #f74715; }
  #contact .details:last-child {
    margin-right: 0; }
#contact .highlight {
  display: inline-block; }

footer {
  background: black;
  color: white; }
  footer .section {
    margin-bottom: 0; }
  footer h1 {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    footer h1:last-child {
      margin-right: 0; }
  footer .locations {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    footer .locations:last-child {
      margin-right: 0; }
  footer .highlight {
    background: #3752BE;
    width: 100%;
    text-align: center; }
