* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, h1, h2, h3, p, input {
  font-family: 'Lekton', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 23.44px;
  text-transform: uppercase; }

body {
  color: #292826;
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-weight: bold; }
  h1.feature, h2.feature, h3.feature {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin: 60px 0; }
    @media screen and (max-width: 480px) {
      h1.feature, h2.feature, h3.feature {
        padding-left: 20px;
        padding-right: 20px; } }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 0;
  padding: 5px 10px 3px;
  border: 1px solid black;
  border-radius: 0; }
  input[type="email"] {
    margin-right: 10px;
    width: 250px;
    outline: none; }
  input.highlight {
    padding: 11px 28px 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background: #f74715;
    border: 1px solid #f74715; }

.background {
  z-index: -3;
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
  top: 0;
  left: 0; }
  .background svg {
    width: 100%;
    height: 100%;
    display: block; }

body {
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  transition: background 1s ease-out; }
  body svg path {
    -webkit-transition: fill 1s ease-out;
    -moz-transition: fill 1s ease-out;
    transition: fill 1s ease-out; }
  body.hero {
    background: #7d7d7d; }
    body.hero svg path {
      fill: #00ab77; }
  body.dates {
    background: #f1ed5d; }
    body.dates svg path {
      fill: #000000; }
  body.sponsor {
    background: #f2f9ff; }
    body.sponsor svg path {
      fill: #2e3192; }
  body.team {
    background: #f2f9ff; }
    body.team svg path {
      fill: #f4c5b5; }

.logo {
  background: url(../images/logo.svg) top left no-repeat;
  width: 408.36px;
  height: 144px;
  margin: 0 auto;
  position: fixed;
  z-index: -1;
  top: 80px;
  left: -35px; }
  @media screen and (max-width: 768px) {
    .logo {
      position: absolute; } }
  @media screen and (max-width: 480px) {
    .logo {
      width: 314.12308px;
      height: 110.76923px;
      background-size: 314.12308px 110.76923px; } }

section {
  margin: 50px 0;
  padding: 50px 0;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section:before, section:after {
    content: " ";
    display: table; }
  section:after {
    clear: both; }

@-webkit-keyframes bump {
  0% {
    -webkit-transform: translateY(0px); }

  50% {
    -webkit-transform: translateY(-5px); }

  100% {
    -webkit-transform: translateY(0px); } }
@-moz-keyframes bump {
  0% {
    -moz-transform: translateY(0px); }

  50% {
    -moz-transform: translateY(-5px); }

  100% {
    -moz-transform: translateY(0px); } }
@-o-keyframes bump {
  0% {
    -o-transform: translateY(0px); }

  50% {
    -o-transform: translateY(-5px); }

  100% {
    -o-transform: translateY(0px); } }
@keyframes bump {
  0% {
    transform: translateY(0px); }

  50% {
    transform: translateY(-5px); }

  100% {
    transform: translateY(0px); } }
header {
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 0px 0px 20px;
  line-height: 16px;
  z-index: 1; }
  @media screen and (max-width: 480px) {
    header {
      position: absolute; } }
  header h1 {
    line-height: 16px;
    padding: 15px 0;
    margin: 0;
    float: left; }
  header span {
    color: #7d7d7d; }
  header nav {
    float: right;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out; }
    @media screen and (max-width: 480px) {
      header nav {
        display: none; } }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  header li {
    float: left; }
  header a {
    font-weight: bold;
    text-decoration: none;
    color: #7d7d7d;
    padding: 15px 15px;
    display: block; }
    header a:hover, header a.highlight {
      color: white;
      background: #f74715; }
    header a.highlight {
      padding: 15px 25px; }
      header a.highlight:hover {
        -webkit-animation: bump 250ms ease-out;
        -moz-animation: bump 250ms ease-out;
        animation: bump 250ms ease-out;
        -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        animation-iteration-count: 1; }
  header form {
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px); }
  header.form-active nav {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px); }
  header.form-active form {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

#hero {
  color: white;
  background: url(../images/top.jpg) center center;
  background-size: cover;
  height: 800px;
  position: relative;
  z-index: -2; }
  @media screen and (max-width: 480px) {
    #hero {
      height: 400px; } }
  #hero h1 {
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0px 10px 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 480px) {
      #hero h1 {
        position: static;
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        padding-top: 270px; } }

.day {
  padding: 0 10px;
  margin: 10px 0;
  background: #f1ed5d;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .day:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .day {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%; }
      .day:last-child {
        margin-right: 0; } }
  .day h2 span {
    display: inline-block;
    width: 110px; }
  .day h3 {
    margin-bottom: 0; }
  .day dl {
    margin: 0 0 5px; }
  .day dt {
    float: left;
    width: 110px; }
  .day dd {
    margin-left: 110px; }

.map {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  .map:last-child {
    margin-right: 0; }
  .map img {
    width: 100%;
    height: auto; }

#sponsor .feature {
  color: #7d7d7d; }

.sponsors {
  margin: 10px 0; }
  .sponsors h2 {
    padding: 10px 10px 0; }
  .sponsors img {
    width: 23%;
    height: auto;
    padding: 2%;
    margin: 1%;
    background: white; }
    @media screen and (max-width: 480px) {
      .sponsors img {
        width: 48%; } }
  .sponsors.platinum {
    background: #e1e1e1; }
  .sponsors.gold {
    background: #a38a66; }
  .sponsors.silver {
    background: #a6a9aa; }
  .sponsors.double-silver {
    background: #95653e; }

.members {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .members:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .members {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%; }
      .members:last-child {
        margin-right: 0; } }
  .members .member {
    background: #f2f9ff; }
    @media screen and (max-width: 768px) {
      .members .member {
        margin-bottom: 10px; } }
    .members .member img {
      width: 100%;
      height: auto; }
    .members .member .info {
      padding: 0 10px; }

.faqs {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  background: #3f3ce5;
  color: white;
  padding: 0 10px; }
  .faqs:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .faqs {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%; }
      .faqs:last-child {
        margin-right: 0; } }
  .faqs p {
    text-transform: none; }

footer {
  background: white;
  padding: 0px 0px 0px 20px;
  line-height: 16px;
  *zoom: 1; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  @media screen and (max-width: 480px) {
    footer {
      padding: 0 10px; } }
  footer h1 {
    line-height: 16px;
    padding: 15px 0;
    margin: 0;
    float: left; }
  footer a {
    color: #7d7d7d; }
  footer p {
    margin: 0; }
  footer form {
    float: right; }
    @media screen and (max-width: 480px) {
      footer form {
        float: none; } }
  @media screen and (max-width: 480px) {
    footer input[type="email"] {
      width: 150px; } }
