/*!

   ___      ___ ________  ___       __      
  |\  \    /  /|\   ___ \|\  \     |\  \    
  \ \  \  /  / | \  \_|\ \ \  \    \ \  \   
   \ \  \/  / / \ \  \ .\ \ \  \  __\ \  \  
    \ \    / /   \ \  \_.\ \ \  \|\__\_\  \ 
     \ \__/ /     \ \_______\ \____________\
      \|__|/       \|_______|\|____________|                                          
                                          
  Please support Vancouver Design Week!
  Feel free to say hello@denimandsteel.com!

  Full source at: style.scss

 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* required styles */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0; }

.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none; }

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none; }

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block; }

/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
  max-width: none !important; }

/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important; }

.leaflet-tile {
  filter: inherit;
  visibility: hidden; }

.leaflet-tile-loaded {
  visibility: inherit; }

.leaflet-zoom-box {
  width: 0;
  height: 0; }

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none; }

.leaflet-tile-pane {
  z-index: 2; }

.leaflet-objects-pane {
  z-index: 3; }

.leaflet-overlay-pane {
  z-index: 4; }

.leaflet-shadow-pane {
  z-index: 5; }

.leaflet-marker-pane {
  z-index: 6; }

.leaflet-popup-pane {
  z-index: 7; }

.leaflet-vml-shape {
  width: 1px;
  height: 1px; }

.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute; }

/* control positioning */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto; }

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none; }

.leaflet-top {
  top: 0; }

.leaflet-right {
  right: 0; }

.leaflet-bottom {
  bottom: 0; }

.leaflet-left {
  left: 0; }

.leaflet-control {
  float: left;
  clear: both; }

.leaflet-right .leaflet-control {
  float: right; }

.leaflet-top .leaflet-control {
  margin-top: 10px; }

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px; }

.leaflet-left .leaflet-control {
  margin-left: 10px; }

.leaflet-right .leaflet-control {
  margin-right: 10px; }

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1; }

.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1); }

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden; }

/* cursors */
.leaflet-clickable {
  cursor: pointer; }

.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab; }

.leaflet-popup-pane,
.leaflet-control {
  cursor: auto; }

.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; }

/* visual tweaks */
.leaflet-container {
  background: #ddd;
  outline: 0; }

.leaflet-container a {
  color: #0078A8; }

.leaflet-container a.leaflet-active {
  outline: 2px solid orange; }

.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5); }

/* general typography */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* general toolbar styles */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px; }

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black; }

.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block; }

.leaflet-bar a:hover {
  background-color: #f4f4f4; }

.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none; }

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb; }

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px; }

/* zoom control */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px; }

.leaflet-control-zoom-out {
  font-size: 20px; }

.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px; }

.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px; }

/* layers control */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px; }

.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px; }

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px; }

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px; }

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none; }

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative; }

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff; }

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px; }

.leaflet-control-layers label {
  display: block; }

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px; }

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0; }

.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333; }

.leaflet-control-attribution a {
  text-decoration: none; }

.leaflet-control-attribution a:hover {
  text-decoration: underline; }

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px; }

.leaflet-left .leaflet-control-scale {
  margin-left: 5px; }

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px; }

.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5); }

.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px; }

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777; }

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none; }

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box; }

/* popup */
.leaflet-popup {
  position: absolute;
  text-align: center; }

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px; }

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4; }

.leaflet-popup-content p {
  margin: 18px 0; }

.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden; }

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4); }

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent; }

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999; }

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; }

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1; }

.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678); }

.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px; }

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999; }

/* div icon */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666; }

body, h1, h2, h3, ul, p, input, blockquote, .todds-terrible-hack, cite, header h1, .marker, footer h1 {
  font-family: 'Lekton', sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 23.44px;
  text-transform: uppercase; }

h1, blockquote, .todds-terrible-hack, #hero h1, #mission .outer-container h2, #mission .outer-container p, .weekname, #about .box h2, #about .box p, #quotes .outer-container h2, #quotes .outer-container p, #supporters .outer-container h2, #supporters .outer-container p {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px; }
  @media screen and (max-width: 480px) {
    h1, blockquote, .todds-terrible-hack, #hero h1, #mission .outer-container h2, #mission .outer-container p, .weekname, #about .box h2, #about .box p, #quotes .outer-container h2, #quotes .outer-container p, #supporters .outer-container h2, #supporters .outer-container p {
      font-size: 18px;
      line-height: 20px; } }

body {
  color: #292826;
  background: #f2f9ff;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  transition: background 1s ease-out; }
  body svg path {
    -webkit-transition: fill 1s ease-out;
    -moz-transition: fill 1s ease-out;
    transition: fill 1s ease-out; }
  body.event {
    background: #f2f9ff; }
    body.event svg path {
      fill: #4558a7; }
  body.team svg path {
    fill: #f4c5b5; }
  body.faq svg path {
    fill: #f05034; }
  body.about svg path {
    fill: #292825; }
  body.quotes svg path {
    fill: #ABE9D7; }
  body.get-involved svg path {
    fill: #4558a7; }
  body.support-tiers svg path {
    fill: #00A778; }
  body.supporters svg path {
    fill: #D6D3C5; }

.background {
  z-index: -4;
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
  top: 0;
  left: 0; }
  .background svg {
    width: 100%;
    height: 100%;
    display: block; }
  @media screen and (max-width: 480px) {
    .background {
      display: none; } }

.outer-container {
  margin: 80px 0;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 480px) {
    .outer-container {
      padding: 0; } }
  .outer-container:before, .outer-container:after {
    content: " ";
    display: table; }
  .outer-container:after {
    clear: both; }

h1 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 50px;
  padding: 0 10px; }
  @media screen and (max-width: 480px) {
    h1 {
      padding-left: 20px;
      padding-right: 20px; } }

h2, h3 {
  font-weight: bold;
  letter-spacing: 1px; }

h2 {
  margin: 0; }

h2 + p {
  margin-top: 0; }

@media screen and (max-width: 480px) {
  ul, p, input {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; } }

blockquote, .todds-terrible-hack {
  margin: 50px 0 0;
  color: #4558a7;
  padding: 4px 4px 0; }
  blockquote.big-blue, .todds-terrible-hack.big-blue {
    display: inline;
    margin: 0;
    font-weight: bold;
    color: white;
    background: #4558a7; }

.todds-terrible-hack {
  color: black;
  background: transparent; }

cite {
  display: block;
  color: #4558a7;
  font-style: normal;
  font-weight: bold; }

@-webkit-keyframes bump {
  0% {
    -webkit-transform: translateY(0px); }

  50% {
    -webkit-transform: translateY(-5px); }

  100% {
    -webkit-transform: translateY(0px); } }
@-moz-keyframes bump {
  0% {
    -moz-transform: translateY(0px); }

  50% {
    -moz-transform: translateY(-5px); }

  100% {
    -moz-transform: translateY(0px); } }
@-o-keyframes bump {
  0% {
    -o-transform: translateY(0px); }

  50% {
    -o-transform: translateY(-5px); }

  100% {
    -o-transform: translateY(0px); } }
@keyframes bump {
  0% {
    transform: translateY(0px); }

  50% {
    transform: translateY(-5px); }

  100% {
    transform: translateY(0px); } }
a.highlight, input.highlight {
  font-weight: bold;
  text-decoration: none;
  padding: 11px 28px 10px;
  cursor: pointer;
  color: white;
  background: #f05034; }
  a.highlight:hover, input.highlight:hover {
    -webkit-animation: bump 250ms ease-out;
    -moz-animation: bump 250ms ease-out;
    animation: bump 250ms ease-out;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1; }

a {
  color: #4558a7;
  text-decoration: none;
  font-weight: bold; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 0;
  padding: 5px 10px 3px;
  border: 1px solid black;
  border-radius: 0; }
  input[type="email"] {
    margin-right: 10px;
    width: 250px;
    outline: none; }
  input[type='submit'] {
    border: 0; }

#mission .outer-container, .members .member, .faqs, #about .box, #quotes .outer-container, #quotes .video, #get-involved .column .box, #support-tiers .tier, #supporters .outer-container {
  background: #f2f9ff;
  color: black; }
  #mission .outer-container img, .members .member img, .faqs img, #about .box img, #quotes .outer-container img, #quotes .video img, #get-involved .column .box img, #support-tiers .tier img, #supporters .outer-container img {
    display: block;
    width: 100%;
    height: auto; }
  #mission .outer-container .content, .members .member .content, .faqs .content, #about .box .content, #quotes .outer-container .content, #quotes .video .content, #get-involved .column .box .content, #support-tiers .tier .content, #supporters .outer-container .content {
    padding: 7px 10px; }
    #mission .outer-container .content h2:first-of-type, .members .member .content h2:first-of-type, .faqs .content h2:first-of-type, #about .box .content h2:first-of-type, #quotes .outer-container .content h2:first-of-type, #quotes .video .content h2:first-of-type, #get-involved .column .box .content h2:first-of-type, #support-tiers .tier .content h2:first-of-type, #supporters .outer-container .content h2:first-of-type {
      margin-top: 0; }
    #mission .outer-container .content p, .members .member .content p, .faqs .content p, #about .box .content p, #quotes .outer-container .content p, #quotes .video .content p, #get-involved .column .box .content p, #support-tiers .tier .content p, #supporters .outer-container .content p {
      text-transform: none; }
      #mission .outer-container .content p:first-child, .members .member .content p:first-child, .faqs .content p:first-child, #about .box .content p:first-child, #quotes .outer-container .content p:first-child, #quotes .video .content p:first-child, #get-involved .column .box .content p:first-child, #support-tiers .tier .content p:first-child, #supporters .outer-container .content p:first-child {
        margin-top: 0; }
      #mission .outer-container .content p:last-of-type, .members .member .content p:last-of-type, .faqs .content p:last-of-type, #about .box .content p:last-of-type, #quotes .outer-container .content p:last-of-type, #quotes .video .content p:last-of-type, #get-involved .column .box .content p:last-of-type, #support-tiers .tier .content p:last-of-type, #supporters .outer-container .content p:last-of-type {
        margin-bottom: 0; }
    #mission .outer-container .content p.bump, .members .member .content p.bump, .faqs .content p.bump, #about .box .content p.bump, #quotes .outer-container .content p.bump, #quotes .video .content p.bump, #get-involved .column .box .content p.bump, #support-tiers .tier .content p.bump, #supporters .outer-container .content p.bump {
      margin-bottom: 1em; }
  #mission .outer-container .highlight, .members .member .highlight, .faqs .highlight, #about .box .highlight, #quotes .outer-container .highlight, #quotes .video .highlight, #get-involved .column .box .highlight, #support-tiers .tier .highlight, #supporters .outer-container .highlight {
    display: block;
    width: 100%;
    text-align: center; }

#mission .outer-container, #about .box, #quotes .outer-container, #supporters .outer-container {
  padding: 80px 0; }
  #mission .outer-container a, #about .box a, #quotes .outer-container a, #supporters .outer-container a {
    color: #4558a7;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; }
  #mission .outer-container .more .extra, #about .box .more .extra, #quotes .outer-container .more .extra, #supporters .outer-container .more .extra {
    display: none; }
  #mission .outer-container .more.active .toggle, #about .box .more.active .toggle, #quotes .outer-container .more.active .toggle, #supporters .outer-container .more.active .toggle {
    display: none; }
  #mission .outer-container .more.active .extra, #about .box .more.active .extra, #quotes .outer-container .more.active .extra, #supporters .outer-container .more.active .extra {
    display: block; }
  @media screen and (max-width: 480px) {
    #mission .outer-container, #about .box, #quotes .outer-container, #supporters .outer-container {
      padding: 20px 0; } }

.logo {
  background: url(../images/logo.svg) top left no-repeat;
  width: 408.36px;
  height: 144px;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  top: 80px;
  left: -35px; }
  .logo.fixed {
    position: fixed;
    z-index: -3; }
  @media screen and (max-width: 768px) {
    .logo.fixed {
      display: none; } }
  @media screen and (max-width: 480px) {
    .logo {
      width: 314.12308px;
      height: 110.76923px;
      background-size: 314.12308px 110.76923px;
      top: 50px; } }

header {
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 0px 0px 20px;
  line-height: 16px;
  z-index: 1001; }
  header h1 {
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    float: left;
    padding: 18px 0; }
    header h1 span {
      background: transparent; }
    header h1 a {
      padding: 18px 0;
      text-decoration: none; }
    @media screen and (max-width: 1050px) {
      header h1 span {
        display: none; } }
  header span {
    color: #7d7d7d; }
  header nav {
    float: right;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out; }
    @media screen and (max-width: 768px) {
      header nav {
        float: left;
        clear: left;
        position: relative;
        left: -10px; } }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  header li {
    float: left; }
  header nav a {
    font-weight: bold;
    text-decoration: none;
    color: #7d7d7d;
    padding: 15px 15px;
    display: block; }
    @media screen and (max-width: 900px) {
      header nav a {
        padding-left: 8px;
        padding-right: 8px; } }
    header nav a:hover, header nav a.highlight {
      color: white;
      background: #f05034; }
    header nav a.highlight {
      padding: 15px 25px; }
  header form {
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px); }
    header form input.highlight {
      padding: 15px 25px; }
  header.form-active nav {
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
    transform: translateY(-150px); }
  header.form-active form {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  header .mobile-toggle {
    display: none; }
  @media screen and (max-width: 570px) {
    header {
      padding: 0; }
      header h1 {
        padding: 15px 8px; }
      header .mobile-toggle {
        cursor: pointer;
        float: right;
        display: block;
        font-weight: bold;
        padding: 15px 8px; }
      header .indicator {
        color: black; }
        header .indicator.minus {
          display: none; }
      header nav {
        left: 0px;
        float: none;
        clear: both;
        height: 0;
        overflow: hidden; }
      header li {
        float: none; }
      header nav a {
        display: block; }
      header li .highlight {
        display: none; }
      header form {
        display: none;
        position: static;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); }
        header form input[type="email"] {
          width: 175px;
          margin-left: 8px; }
        header form input.highlight {
          padding: 12px 16px; }
      header.active form {
        display: block; }
      header.active .indicator.plus {
        display: none; }
      header.active .indicator.minus {
        display: inline; }
      header.active nav {
        height: auto; }
      header.form-active nav {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); } }

#hero {
  position: relative;
  padding-bottom: 25px;
  height: 600px; }
  @media screen and (max-width: 600px) {
    #hero {
      height: 450px; } }
  @media screen and (max-width: 480px) {
    #hero {
      padding-bottom: 0;
      height: 300px; } }
  #hero .outer-container {
    margin-top: 0px; }
    @media screen and (max-width: 570px) {
      #hero .outer-container {
        margin-bottom: 0;
        padding-bottom: 0; } }
  #hero .slide {
    background: #4558a7 url(../images/VDW_Web-Header_slide1.jpg) center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transition: 1.5s opacity ease-in-out;
    -moz-transition: 1.5s opacity ease-in-out;
    transition: 1.5s opacity ease-in-out; }
    #hero .slide:first-child {
      opacity: 1; }
    #hero .slide.active {
      opacity: 1; }
    #hero .slide.one {
      background-image: url(../images/VDW_Web-Header_slide1.jpg); }
    #hero .slide.two {
      background-image: url(../images/VDW_Web-Header_slide2.jpg); }
    #hero .slide.three {
      background-image: url(../images/VDW_Web-Header_slide3.jpg); }
    @media screen and (max-width: 480px) {
      #hero .slide.one {
        background-image: url(../images/VDW_Web-Header_slide1_mobile.jpg); }
      #hero .slide.two {
        background-image: url(../images/VDW_Web-Header_slide2_mobile.jpg); }
      #hero .slide.three {
        background-image: url(../images/VDW_Web-Header_slide3_mobile.jpg); } }
  #hero h1 {
    margin-top: 250px;
    margin-bottom: 100px;
    padding: 10px;
    text-align: left;
    color: white;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    #hero h1:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      #hero h1 {
        margin-top: 200px;
        margin-bottom: 0px;
        display: block;
        float: left;
        margin-right: 3.57866%;
        width: 87.05267%;
        margin-left: 0%; }
        #hero h1:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      #hero h1 {
        display: block;
        float: left;
        margin-right: 7.42297%;
        width: 100%;
        margin-left: 0%; }
        #hero h1:last-child {
          margin-right: 0; } }

#mission {
  background: #f2f9ff; }

#mission .outer-container {
  margin: 0 auto;
  background: transparent; }
  #mission .outer-container .content p:last-of-type {
    margin-bottom: 1em; }

.events-list {
  background: #f2f9ff;
  height: 0;
  overflow: hidden; }

.day-events.active .events-list {
  height: auto; }

.day-events.active .event-count .indicator.plus {
  display: none; }

.event-count .indicator.minus {
  display: none; }

.day-events.active .event-count .indicator.minus {
  display: inline; }

@media screen and (max-width: 480px) {
  .events {
    margin-top: 0; } }

.weekname {
  margin: 50px 0 25px; }
  @media screen and (max-width: 768px) {
    .weekname {
      margin: 50px 10px 25px; } }

#event-15, #event-22 {
  border-top: 1px solid #4558a7; }

.day-header {
  cursor: pointer;
  background: #f2f9ff;
  color: #292826;
  border-bottom: 1px solid #4558a7;
  height: 60px;
  font-size: 20px;
  padding-top: 20px; }
  .day-header .dayname {
    font-size: 18px;
    font-weight: normal;
    float: left;
    padding-left: 15px;
    margin: 0; }
    @media screen and (max-width: 480px) {
      .day-header .dayname {
        padding-left: 10px; } }
  .day-header .event-count {
    font-size: 16px;
    font-weight: bold;
    float: right;
    padding-right: 15px;
    margin-bottom: 0; }
    @media screen and (max-width: 480px) {
      .day-header .event-count {
        padding-right: 10px; } }
  .day-header.current {
    border-left: 10px solid #f05034; }
  .day-header.done .dayname, .day-header.done .event-count {
    color: #7d7d7d; }

.day-events.active .day-header {
  background: #4558a7;
  color: white; }

.map {
  width: 100%;
  height: 320px; }
  @media screen and (max-width: 480px) {
    .map {
      height: 250px; } }

.event-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-bottom: 1px solid #4558a7;
  padding: 15px 10px 10px; }
  .event-item .event-type {
    color: black;
    text-transform: uppercase; }
  .event-item .description,
  .event-item .time-and-place {
    text-transform: none;
    font-size: 18px;
    line-height: 20px;
    color: #797979; }
    .event-item .description a,
    .event-item .time-and-place a {
      text-decoration: none;
      font-weight: bold;
      color: #4558a7; }
  .event-item .description {
    margin: 0; }
  .event-item .time-and-place {
    margin-top: 0; }
    @media screen and (max-width: 480px) {
      .event-item .time-and-place {
        margin-top: 10px;
        margin-bottom: 10px; } }

.eventheader {
  width: 100%;
  *zoom: 1; }
  .eventheader:before, .eventheader:after {
    content: " ";
    display: table; }
  .eventheader:after {
    clear: both; }
  .eventheader .left {
    float: left; }
    @media screen and (max-width: 480px) {
      .eventheader .left {
        float: none; } }
    .eventheader .left .marker {
      display: inline-block;
      float: left;
      margin: 0px;
      padding: 0px 10px 10px 10px;
      box-sizing: content-box;
      margin-top: 15px;
      background: url(../images/marker.svg) top center no-repeat; }
    .eventheader .left .priority {
      display: inline-block;
      float: left;
      margin: 0px;
      padding: 0px 10px 30px 20px;
      box-sizing: content-box;
      margin-top: 25px;
      font-size: 30px;
      color: #555;
      font-weight: 200; }
    .eventheader .left .title {
      margin: 0;
      font-size: 18px; }
  .eventheader .right {
    float: right;
    display: block; }
    @media screen and (max-width: 480px) {
      .eventheader .right {
        float: none; } }
    .eventheader .right .highlight {
      background: #f2f9ff;
      color: #4558a7;
      width: 140px;
      height: 40px;
      text-align: center;
      float: left;
      padding: 9px;
      border: 2px solid #4558a7;
      margin-bottom: 15px; }
    .eventheader .right .price {
      font-weight: bold;
      float: left;
      margin: 10px 20px 0 0;
      color: #7d7d7d; }
      @media screen and (max-width: 480px) {
        .eventheader .right .price {
          float: right;
          margin-top: 10px;
          margin-bottom: 15px; } }

.leaflet-bar {
  box-shadow: none; }

.leaflet-bar a,
.leaflet-bar a:hover {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 32px; }

.leaflet-bar a:first-child,
.leaflet-bar a:last-child {
  border-radius: 0; }

@-webkit-keyframes bobbing {
  0% {
    -webkit-transform: translateY(0px);
    -webkit-animation-timing-function: ease-out; }

  40% {
    -webkit-transform: translateY(-0.25em);
    -webkit-animation-timing-function: ease-in-out; }

  80% {
    -webkit-transform: translateY(0.1em);
    -webkit-animation-timing-function: ease-in; } }
@-moz-keyframes bobbing {
  0% {
    -moz-transform: translateY(0px);
    -moz-animation-timing-function: ease-out; }

  40% {
    -moz-transform: translateY(-0.25em);
    -moz-animation-timing-function: ease-in-out; }

  80% {
    -moz-transform: translateY(0.1em);
    -moz-animation-timing-function: ease-in; } }
@-o-keyframes bobbing {
  0% {
    -o-transform: translateY(0px); }

  40% {
    -o-transform: translateY(-0.25em); }

  80% {
    -o-transform: translateY(0.1em); } }
@keyframes bobbing {
  0% {
    transform: translateY(0px);
    animation-timing-function: ease-out; }

  40% {
    transform: translateY(-0.25em);
    animation-timing-function: ease-in-out; }

  80% {
    transform: translateY(0.1em);
    animation-timing-function: ease-in; } }
.marker {
  font-weight: bold;
  width: 28px;
  height: 38px;
  margin-top: -38px;
  color: white;
  text-align: center;
  background: url(../images/marker.svg) top left no-repeat;
  cursor: -webkit-grab;
  cursor: -moz-grab; }
  .marker.info {
    height: 28px;
    margin-top: -28px;
    background-image: url(../images/marker-info.svg); }
  .marker:hover {
    opacity: 0.9; }
  .marker span {
    position: relative;
    top: 5px; }

.members {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .members:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .members {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%; }
      .members:last-child {
        margin-right: 0; } }
  .members .member {
    margin-bottom: 17px; }
    @media screen and (max-width: 768px) {
      .members .member {
        margin-bottom: 10px; } }

.faqs {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .faqs:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .faqs p {
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto; } }
  @media screen and (max-width: 480px) {
    .faqs {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%; }
      .faqs:last-child {
        margin-right: 0; } }

#about {
  background: #f2f9ff; }
  #about .second {
    margin-top: 70px; }
  #about .box {
    background: transparent; }

#quotes {
  background: #f2f9ff; }
  #quotes .outer-container {
    background: transparent; }
  #quotes .after {
    margin-bottom: 25px; }
  #quotes .content {
    padding: 0 10px; }
  #quotes .videos {
    *zoom: 1;
    margin-top: 40px;
    border-top: 1px solid #4558a7;
    border-bottom: 1px solid #4558a7;
    padding: 20px 0; }
    #quotes .videos:before, #quotes .videos:after {
      content: " ";
      display: table; }
    #quotes .videos:after {
      clear: both; }
  #quotes .video {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-decoration: none;
    position: relative; }
    #quotes .video:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      #quotes .video {
        display: block;
        float: left;
        margin-right: 7.42297%;
        width: 100%;
        margin-bottom: 17px; }
        #quotes .video:last-child {
          margin-right: 0; } }
    #quotes .video .info {
      opacity: 0;
      -webkit-transition: 0.2s ease-out opacity;
      -moz-transition: 0.2s ease-out opacity;
      transition: 0.2s ease-out opacity;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(3, 183, 127, 0.85);
      padding: 15px;
      color: white; }
      #quotes .video .info h2 {
        font-size: 18px;
        line-height: 20px; }
      #quotes .video .info:hover {
        opacity: 1; }

#get-involved .column {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #get-involved .column:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #get-involved .column {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%; }
      #get-involved .column:last-child {
        margin-right: 0; } }
  #get-involved .column .box {
    margin: 5px 0;
    padding-top: 1px;
    margin-bottom: 17px; }
    @media screen and (max-width: 768px) {
      #get-involved .column .box {
        margin-bottom: 10px; } }

#support-tiers .tier {
  min-height: 300px;
  padding-bottom: 60px;
  position: relative;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  #support-tiers .tier .highlight {
    position: absolute;
    bottom: 0; }
  #support-tiers .tier:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #support-tiers .tier {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%;
      min-height: 0;
      margin-bottom: 17px; }
      #support-tiers .tier:last-child {
        margin-right: 0; } }

#supporters {
  background: white;
  padding: 80px 10px; }
  @media screen and (max-width: 480px) {
    #supporters {
      padding: 10px; } }

#supporters .outer-container {
  margin: 0 auto;
  background: transparent; }
  #supporters .outer-container .content p:last-of-type {
    margin-bottom: 1em; }

#supporters .supporters {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border-bottom: 1px solid #4558a7; }
  #supporters .supporters h1 {
    text-align: left;
    padding: 0;
    margin-top: 70px;
    margin-bottom: 0; }
    @media screen and (max-width: 480px) {
      #supporters .supporters h1 {
        margin-top: 30px; } }
  #supporters .supporters .become-a-sponsor {
    margin: 5px 0; }

#supporters .outer-container .support {
  margin: 10px 0; }
  #supporters .outer-container .support h2 {
    padding: 10px 10px 0; }
  #supporters .outer-container .support img, #supporters .outer-container .support .friend {
    width: 23%;
    height: auto;
    padding: 2%;
    margin: 1%;
    background: white; }
    @media screen and (max-width: 480px) {
      #supporters .outer-container .support img, #supporters .outer-container .support .friend {
        width: 48%; } }
  #supporters .outer-container .support .friend {
    display: block; }
  #supporters .outer-container .support.platinum {
    background: #e1e1e1; }
  #supporters .outer-container .support.gold {
    background: #a38a66; }
  #supporters .outer-container .support.silver {
    background: #a6a9aa; }
  #supporters .outer-container .support.double-silver {
    background: #95653e; }

#contact .details {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  background: white;
  color: black;
  padding: 10px 20px 20px;
  border: 10px solid #f05034; }
  #contact .details:last-child {
    margin-right: 0; }
#contact .highlight {
  display: inline-block; }

footer {
  background: black;
  color: white;
  padding: 0 5px 5px; }
  footer .outer-container {
    padding: 20px 0 10px;
    margin-bottom: 0; }
  footer h1 {
    font-weight: bold;
    text-align: left;
    letter-spacing: 0;
    margin: 0;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    footer h1:last-child {
      margin-right: 0; }
    @media screen and (max-width: 950px) {
      footer h1 {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        footer h1:last-child {
          margin-right: 0; } }
  footer .locations {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    footer .locations:last-child {
      margin-right: 0; }
    @media screen and (max-width: 950px) {
      footer .locations {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-top: 10px; }
        footer .locations:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 550px) {
      footer .locations {
        width: 100%; } }
  footer .highlight {
    background: #4558a7;
    width: 60%;
    text-align: center;
    display: inline-block; }
  footer .social {
    text-align: center;
    background: #4558a7;
    padding: 11px 0 10px;
    width: 15%;
    display: inline-block; }
    footer .social:hover {
      -webkit-animation: bump 250ms ease-out;
      -moz-animation: bump 250ms ease-out;
      animation: bump 250ms ease-out;
      -webkit-animation-iteration-count: 1;
      -moz-animation-iteration-count: 1;
      animation-iteration-count: 1; }
    footer .social span {
      text-indent: -9999px;
      width: 20px;
      height: 20px;
      display: inline-block;
      background-size: 20px 20px;
      background-position: top left; }
      footer .social span.twitter {
        background-image: url(../images/twitter.svg); }
      footer .social span.instagram {
        background-image: url(../images/instagram.svg); }
