---
---
<!doctype html>
<head>
  <title>VDW Events</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="#vdw2014">
  <link rel="apple-touch-icon" href="../images/web-app-icon.png">

  <link href='http://fonts.googleapis.com/css?family=Lekton:400,700,400italic' rel='stylesheet' type='text/css'>
  <!--[if lte IE 8]><link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.ie.css" /><![endif]-->
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css?4">
  <link rel="stylesheet" type="text/css" media="print" href="../stylesheets/print.css?4">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-26480550-10', 'auto');
  ga('send', 'pageview');
  </script>
</head>
<body>

<section class="outer-container" style="margin-bottom: 0;">
  <h1 style="margin-bottom: 0;">Vancouver Design Week</h1>
</section>

<script type="text/javascript">
  vdwEvents = {};
</script>

<section id="event" class="events outer-container" style="margin-top: 40px;">
  {% for dayNumber in (15..28) %}
    {% if dayNumber == 15 %}
      <h2 class="weekname"><strong>Event Schedule<br>
          Week 1</strong> / Sept 15th - 21st</h2>
    {% elsif dayNumber == 22 %}
      <h2 class="weekname"><strong>Event Schedule<br>
          Week 2</strong> / Sept 22nd - 28th</h2>
    {% endif %}
    {% assign eventDayCategory = "event-" | append: dayNumber %}
    {% if site.categories[eventDayCategory].size > 0 %}
      <div id="{{ eventDayCategory }}" class="day-events">
        <div class="day-header">
          <h2 class="dayname">{{ site.categories[eventDayCategory][0].dayOfWeek}}, <strong>{{ site.categories[eventDayCategory][0].dayOfMonth}}</strong></h2>
          <p class="event-count">{{site.categories[eventDayCategory].size}} Events {% if dayNumber == 20 %}<span class="open-studios">&amp; Open Studios </span>{% endif %}[<span class="indicator plus">+</span><span class="indicator minus">-</span>]</p>
        </div>
        <div class="events-list">
          <div id="map-{{eventDayCategory}}" class="map"></div>
          {% for priority in (1..50) %}{% for post in site.categories[eventDayCategory] %}{% if post.priority == priority and post.published == true %}
                <script type="text/javascript">
                  if (typeof vdwEvents['map-{{eventDayCategory}}'] === 'undefined') {
                    vdwEvents['map-{{eventDayCategory}}'] = [];
                  }
                  vdwEvents['map-{{eventDayCategory}}'].push({lat: {{post.latitude}}, long: {{post.longitude}}, priority: {{post.priority}}, slug: "{{post.slug}}"});
                </script>
                <div id="event-{{post.slug}}" class="event-item">
                  <div class="eventheader">
                    <div class="left">
                      <!-- <div class="marker"><span class="active">{{ post.priority }}</span></div> -->
                      <h3 class="title">{{ post.priority }}. {{ post.title }}</h3>
                      <p class="time-and-place">
                        {% if post.endTime %}
                          {{ post.startTime }} - {{ post.endTime }}
                        {% else %}
                          {{ post.startTime }}
                        {% endif %}
                        at <a target="_blank" href="http://maps.apple.com/?q={{ post.address }}">{{ post.addressLabel }}</a>
                      </p>
                    </div>
                    <div class="right">
                      <p class="price">{{ post.price }}</p>
                      {% if post.eventUrl %}
                      <a target="_blank" href="{{ post.eventUrl }}" class="highlight">{{ post.eventUrlLabel }}</a>
                      {% endif %}
                    </div>
                  </div>

                  <div class="eventcontent">
                    <p class="description">{% if post.type %}<span class="event-type">[{{ post.type }}]</span> {% endif %}{{ post.description }}</p>
                  </div>
                </div>
              {% endif %}{% endfor %}{% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>

<script type="text/javascript" src="../javascript/fastclick.min.js?4"></script>
<script type="text/javascript" src="../javascript/third-party.js?4"></script>
<script type="text/javascript" src="../javascript/app.js?4"></script>
<script type="text/javascript">
$(function() {
  FastClick.attach(document.body);
});
</script>
</body>

</html>
